@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@font-face {
  font-family: 'apriText-black';
  src: url("../fonts/inter/Inter-Black-slnt=0.ttf");
}

@font-face {
  font-family: 'apriText-bold';
  src: url("../fonts/inter/Inter-Bold-slnt=0.ttf");
}

@font-face {
  font-family: 'apriText';
  src: url("../fonts/inter/Inter-Regular-slnt=0.ttf");
}

@font-face {
  font-family: 'apriText-light';
  src: url("../fonts/inter/Inter-Light-slnt=0.ttf");
}

.apriButton {
  background-color: #6C63FF;
  -webkit-box-shadow: 0 2px 3px rgba(95, 88, 226, 0.3);
          box-shadow: 0 2px 3px rgba(95, 88, 226, 0.3);
}

.apriButton:hover {
  -webkit-box-shadow: 0 3px 6px rgba(95, 88, 226, 0.5);
          box-shadow: 0 3px 6px rgba(95, 88, 226, 0.5);
  background: #5F58E2;
}

.apriTitle {
  margin-bottom: 40px;
}

.apriTitle h2 {
  font-weight: bold !important;
  font-size: 36px !important;
  color: #1E2022 !important;
}

.apriTitle h2:after {
  content: " ";
  width: 110px;
  height: 3.5px;
  background: #6C63FF;
  display: block;
  margin: 20px 0 20px 0;
  border-radius: 3px;
}

.apriTitle p {
  font-size: 18px;
  margin-top: 5px;
  color: #697989;
}

@media screen and (max-width: 992px) {
  .apriTitle {
    text-align: center;
  }
  .apriTitle h2:after {
    content: " ";
    width: 100px;
    height: 3px;
    background: #6C63FF;
    display: block;
    margin: 20px auto;
    border-radius: 3px;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.body {
  background: #323145;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.bg-active {
  background-color: #FFFFFF;
}

nav {
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
}

nav .apriMenu {
  padding-top: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .apriMenu .apriLogo {
  display: inline-block;
  font-family: 'Lato';
  font-weight: bold;
}

nav .apriMenu .apriLogo .apriName {
  display: block;
  color: #FFFFFF;
  font-size: 28px;
}

nav .apriMenu .apriLogo .apriName span {
  color: #6C63FF;
}

nav .apriMenu .apriLogo .apriResponsive {
  display: none;
}

nav .apriMenu .apriLogo .apriResponsive a img {
  vertical-align: top;
  height: 45px;
}

nav .apriMenu .apriLogo .apriResponsive button {
  background: transparent;
  border: 0;
  font-size: 24px;
  margin-top: 4px;
  cursor: pointer;
}

nav .apriLinksMenu {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
}

nav .apriLinksMenu li {
  display: inline-block;
  padding: 20px 0 20px 30px;
}

nav .apriLinksMenu li a {
  color: #DEDEDF;
  font-family: 'apriText';
  text-align: center;
}

nav .apriLinksMenu li a:hover {
  color: #FFFFFF;
}

nav .apriLinksMenu li .apriButton {
  border-radius: 8px;
  color: #FFFFFF !important;
  font-family: 'apriText-bold';
  padding: 10px 20px;
  -webkit-transition: .3s box-shadow,.3s background;
  transition: .3s box-shadow,.3s background;
}

nav.scrolled {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 28px -18px #b0b0b0;
  box-shadow: 0px 6px 28px -18px #b0b0b0;
}

nav.scrolled .apriMenu {
  padding-top: 0;
}

nav.scrolled .apriMenu .apriLogo .apriName {
  color: #1E2022;
}

nav.scrolled .apriLinksMenu li a {
  color: #697989 !important;
}

nav.scrolled .apriLinksMenu li a:hover {
  color: #1E2022 !important;
}

nav.scrolled .apriLinksMenu li .apriButton {
  color: #FFFFFF !important;
}

nav.scrolled .apriLinksMenu li .apriButton:hover {
  color: #FFFFFF !important;
}

nav.scrolled .apriResponsive .apriName {
  color: #1E2022 !important;
}

nav.scrolled .apriResponsive button {
  color: #1E2022 !important;
}

nav.fixed {
  position: fixed;
}

@media screen and (max-width: 991px) {
  nav {
    background: #323145;
  }
  nav .apriMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  nav .apriMenu .apriLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0.7em;
  }
  nav .apriMenu .apriLogo .apriName {
    display: none;
  }
  nav .apriMenu .apriLogo .apriResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  nav .apriMenu .apriLogo .apriResponsive .apriName {
    display: block;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 6px;
  }
  nav .apriMenu .apriLogo .apriResponsive button {
    margin-left: auto;
    color: #FFFFFF;
  }
  nav .apriMenu .apriLinksMenu {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
  nav .apriMenu .apriLinksMenu li {
    padding: 20px 0 20px 0;
  }
  nav .apriMenu .apriLinksMenu li a {
    padding: 15px 25px;
    color: #FFFFFF;
  }
  nav .apriMenu .apriLinksMenu li a:last-child {
    margin-top: 15px;
  }
}

#apriNavbar-2 {
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
}

#apriNavbar-2 .apriMenu {
  padding-top: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#apriNavbar-2 .apriMenu .apriLogo {
  display: inline-block;
  font-family: 'Lato';
  font-weight: bold;
}

#apriNavbar-2 .apriMenu .apriLogo .apriName {
  display: block;
  color: #1E2022;
  font-size: 28px;
}

#apriNavbar-2 .apriMenu .apriLogo .apriName span {
  color: #6C63FF;
}

#apriNavbar-2 .apriMenu .apriLogo .apriResponsive {
  display: none;
}

#apriNavbar-2 .apriLinksMenu {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
}

#apriNavbar-2 .apriLinksMenu li {
  display: inline-block;
  padding: 20px 0 20px 30px;
}

#apriNavbar-2 .apriLinksMenu li .apriButton {
  border-radius: 8px;
  color: #FFFFFF !important;
  font-family: 'apriText-bold';
  padding: 12px 25px;
  -webkit-transition: .3s box-shadow,.3s background;
  transition: .3s box-shadow,.3s background;
}

@media screen and (max-width: 991px) {
  #apriNavbar-2 .apriMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  #apriNavbar-2 .apriMenu .apriLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0.7em;
  }
  #apriNavbar-2 .apriMenu .apriLogo .apriName {
    display: none;
  }
  #apriNavbar-2 .apriMenu .apriLogo .apriResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  #apriNavbar-2 .apriMenu .apriLogo .apriResponsive .apriName {
    display: block;
    font-size: 24px;
    margin-top: 6px;
  }
  #apriNavbar-2 .apriMenu .apriLogo .apriResponsive .apriButton {
    border-radius: 8px;
    color: #FFFFFF !important;
    font-family: 'apriText-bold';
    padding: 10px 20px;
    -webkit-transition: .3s box-shadow,.3s background;
    transition: .3s box-shadow,.3s background;
  }
  #apriNavbar-2 .apriMenu .apriLinksMenu {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
  #apriNavbar-2 .apriMenu .apriLinksMenu li {
    padding: 20px 0 20px 0;
  }
  #apriNavbar-2 .apriMenu .apriLinksMenu li a {
    padding: 15px 25px;
  }
  #apriNavbar-2 .apriMenu .apriLinksMenu li a:last-child {
    margin-top: 15px;
  }
}

footer .apriRrss {
  background: #6C63FF;
}

footer .apriRrss h6 {
  font-weight: normal !important;
  font-size: 20px !important;
  color: #FFFFFF !important;
}

footer .apriRrss a {
  font-size: 24px;
}

footer .apriRrss a i {
  color: #FFFFFF;
}

footer .apriLinksFooter {
  background: #323145;
  padding-top: 38px;
}

footer .apriLinksFooter h6 {
  font-weight: bold !important;
  font-size: 20px !important;
  color: #FFFFFF !important;
}

footer .apriLinksFooter hr {
  background: #6C63FF;
  height: 2.8px;
  border-radius: 3px;
}

footer .apriLinksFooter p {
  font-size: 16px;
  color: #DEDEDF;
}

footer .apriLinksFooter p a {
  color: #DEDEDF;
}

footer .apriLinksFooter p a:hover {
  color: #FFFFFF;
}

footer .apriCopy {
  background: #262535;
}

footer .apriCopy a {
  font-weight: bold;
}

#apriLanding {
  /*background-image: url(../img/homepage/fondo.jpg);
   background-size: cover;
   background-position: center 0px;
   background-repeat: no-repeat;*/
}

#apriLanding .apriStart {
  height: 100vh;
}

#apriLanding .apriStart h2 {
  font-weight: bold !important;
  font-size: 56px !important;
  color: #FFFFFF !important;
  font-family: 'Lato';
  font-weight: 900;
  margin-bottom: 15px;
}

#apriLanding .apriStart h2 span {
  color: #6C63FF;
}

#apriLanding .apriStart p {
  font-weight: normal !important;
  font-size: 20px !important;
  color: #DEDEDF !important;
  font-family: 'apriText';
  line-height: 1.5;
  margin-bottom: 40px;
}

#apriLanding .apriStart a {
  border-radius: 8px;
  color: #FFFFFF !important;
  font-family: 'apriText-bold';
  padding: 15px 25px;
  -webkit-transition: .3s box-shadow,.3s background;
  transition: .3s box-shadow,.3s background;
}

@media screen and (max-width: 992px) {
  #apriLanding .apriStart {
    height: auto;
    text-align: center;
    padding-bottom: 60px;
    margin: auto;
    width: 80%;
  }
  #apriLanding .apriStart img {
    margin-top: 150px;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  #apriLanding .apriStart img {
    margin-top: 170px;
  }
  #apriLanding .apriStart h2 {
    font-weight: "Lato" !important;
    font-size: 56px !important;
    color: #FFFFFF !important;
    margin-top: 25px;
  }
}

@media screen and (max-width: 650px) {
  #apriLanding .apriStart {
    height: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
  }
  #apriLanding .apriStart img {
    margin-top: 25px;
    width: 100%;
  }
  #apriLanding .apriStart h2 {
    font-weight: "Lato" !important;
    font-size: 48px !important;
    color: #FFFFFF !important;
  }
}

@media screen and (max-width: 420px) {
  #apriLanding .apriStart img {
    margin-top: 85px;
  }
  #apriLanding .apriStart h2 {
    font-weight: "Lato" !important;
    font-size: 36px !important;
    color: #FFFFFF !important;
    margin-top: 20px;
  }
  #apriLanding .apriStart p {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  #apriLanding .apriStart h2 {
    font-weight: "Lato" !important;
    font-size: 36px !important;
    color: #FFFFFF !important;
  }
}

@media screen and (max-width: 340px) {
  #apriLanding .apriStart img {
    margin-top: 55px;
  }
  #apriLanding .apriStart h2 {
    font-weight: "Lato" !important;
    font-size: 28px !important;
    color: #FFFFFF !important;
  }
  #apriLanding .apriStart p {
    font-size: 18px;
  }
}

#apriLanding .mouse {
  width: 35px;
  height: 55px;
  border: 2px solid #DEDEDF;
  border-radius: 50px;
  position: absolute;
  top: 85%;
  left: calc(50% - 17.5px);
}

#apriLanding .mouse::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #DEDEDF;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  border-radius: 50%;
  -webkit-animation: scroll 1s infinite;
  animation: scroll 1s infinite;
}

@media screen and (max-width: 992px) {
  #apriLanding .mouse {
    display: none;
  }
}

@-webkit-keyframes scroll {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

@keyframes scroll {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

main #apriMeet {
  padding-top: 200px;
  padding-bottom: 100px;
}

@media screen and (max-width: 992px) {
  main #apriMeet {
    padding-bottom: 0;
  }
}

main #apriMeet .apriMe img {
  border-radius: 100%;
  width: 60%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 992px) {
  main #apriMeet .apriMe img {
    margin-top: 150px;
    margin-bottom: 50px;
    width: 220px;
  }
}

main #apriMeet .apriMe .apriInfo .title h2 {
  font-weight: bold !important;
  font-size: 36px !important;
  color: #1E2022 !important;
  font-size: 'Lato';
  margin-bottom: -5px;
}

main #apriMeet .apriMe .apriInfo .title h2 span {
  color: #6C63FF;
}

main #apriMeet .apriMe .apriInfo .title small {
  font-weight: normal !important;
  font-size: 14px !important;
  color: #697989 !important;
  font-size: 'apriText';
}

main #apriMeet .apriMe .apriInfo .title small:after {
  content: " ";
  width: 110px;
  height: 3.5px;
  background: #6C63FF;
  display: block;
  margin: 20px 0 20px 0;
  border-radius: 3px;
}

@media screen and (max-width: 992px) {
  main #apriMeet .apriMe .apriInfo .title {
    text-align: center;
  }
  main #apriMeet .apriMe .apriInfo .title small:after {
    content: " ";
    width: 100px;
    height: 3px;
    background: #6C63FF;
    display: block;
    margin: 20px auto;
    border-radius: 3px;
  }
}

main #apriMeet .apriMe .apriInfo p {
  color: #697989;
  font-size: 18px;
}

main #apriMeet .apriMe .apriInfo .apriHobbies h3 {
  font-weight: bold !important;
  font-size: 24px !important;
  color: #1E2022 !important;
  margin-top: 25px;
}

@media screen and (max-width: 992px) {
  main #apriMeet .apriMe .apriInfo .apriHobbies h3 {
    text-align: center;
  }
}

main #apriMeet .apriMe .apriInfo .apriHobbies p {
  font-weight: normal !important;
  font-size: 20px !important;
  color: #697989 !important;
}

main #apriMeet .apriMe .apriInfo .apriHobbies p i {
  color: #6C63FF;
}

@media screen and (max-width: 340px) {
  main #apriMeet .apriMe .apriInfo .title h2 {
    font-size: 28px !important;
  }
  main #apriMeet .apriMe .apriInfo p {
    font-size: 16px !important;
    line-height: 1.8;
  }
}

@media screen and (max-width: 992px) {
  main #apriMeet .apriMe {
    height: auto;
    padding-bottom: 60px;
    margin: auto;
    width: 80%;
  }
}

@media screen and (max-width: 520px) {
  main #apriMeet .apriMe {
    width: 100%;
  }
}

main #habilidades {
  padding-top: 100px;
  padding-bottom: 100px;
  /* */
}

@media screen and (max-width: 992px) {
  main #habilidades {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

main #habilidades .apriSkills .apriSkill {
  margin-bottom: 20px;
}

main #habilidades .apriSkills .apriSkill p {
  font-weight: normal !important;
  font-size: 20px !important;
  color: #697989 !important;
  margin-bottom: 5px;
}

main #habilidades .apriSkills .apriSkill p i {
  color: #6C63FF;
}

main #habilidades .apriSkills .apriSkill .progress {
  background: #F2F2F2;
  width: 100%;
  height: 10px;
  margin-bottom: 15px;
}

main #habilidades .apriSkills .apriSkill .progress .progress-bar {
  background: #6C63FF;
}

main #habilidades .apriSkills h3 {
  font-weight: bold !important;
  font-size: 24px !important;
  color: #1E2022 !important;
  margin-top: 25px;
}

@media screen and (max-width: 992px) {
  main #habilidades .apriSkills h3 {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  main #habilidades .apriSkills {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  main #habilidades .apriSkills {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  main #habilidades .apriSkills {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  main #habilidades .apriImage {
    width: 70%;
    margin: auto;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 500px) {
  main #habilidades .apriImage {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  main #habilidades .apriImage {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  main #habilidades .apriImage {
    width: 100%;
  }
}

main #portfolio {
  padding-top: 70px;
  padding-bottom: 100px;
}

main #portfolio .apriPortfolio img {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  main #portfolio .apriPortfolio img {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  main #portfolio .apriPortfolio img {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  main #portfolio .apriPortfolio img {
    width: 100%;
  }
}

main #portfolio .apriPortfolio h3 {
  font-weight: normal !important;
  font-size: 20px !important;
  color: #1E2022 !important;
  text-align: center;
  margin-top: 20px;
}

main #contacto {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F7F7FC;
}

main #contacto .apriData p {
  font-weight: normal !important;
  font-size: 20px !important;
  color: #1E2022 !important;
  margin-bottom: 25px;
}

main #contacto .apriData p i {
  color: #6C63FF;
  font-size: 24px;
}

main #contacto form {
  background: #FFFFFF;
  padding: 25px 30px 40px 30px;
  border-radius: 15px;
}

main #contacto form h5 {
  font-weight: normal !important;
  font-size: 14px !important;
  color: #1E2022 !important;
  margin-bottom: 20px;
}

main #contacto form input,
main #contacto form input.form-control,
main #contacto form textarea.form-control {
  border-radius: 15px;
}

main #contacto form input:focus,
main #contacto form input.form-control:focus,
main #contacto form textarea.form-control:focus {
  border-color: #6C63FF;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

main #contacto form textarea.form-control {
  min-height: 110px;
  max-height: 200px;
}

main #contacto form button {
  border-radius: 8px;
  color: #FFFFFF !important;
  font-family: 'apriText-bold';
  padding: 10px 25px;
  -webkit-transition: .3s box-shadow,.3s background;
  transition: .3s box-shadow,.3s background;
}

main #contacto form p.legal {
  margin-top: 11px;
  font-size: 11px;
  line-height: 10pt;
  text-align: justify;
  color: #697989;
}

@media screen and (max-width: 580px) {
  main #contacto form {
    width: 95%;
    display: block;
    margin: auto;
  }
}

main #apriConfirm {
  height: 100vh;
}

main #apriConfirm h2 {
  font-weight: bold !important;
  font-size: 56px !important;
  color: #1E2022 !important;
}

main #apriConfirm h2 span {
  color: #6C63FF;
}

main #apriConfirm p {
  font-weight: normal !important;
  font-size: 20px !important;
  color: #697989 !important;
  font-family: 'apriText';
  line-height: 1.5;
  margin-bottom: 40px;
}

main #apriConfirm a {
  border-radius: 8px;
  color: #FFFFFF !important;
  font-family: 'apriText-bold';
  padding: 15px 25px;
  -webkit-transition: .3s box-shadow,.3s background;
  transition: .3s box-shadow,.3s background;
}

@media screen and (max-width: 992px) {
  main #apriConfirm h2 {
    font-weight: "Lato" !important;
    font-size: 48px !important;
    color: #1E2022 !important;
  }
}

@media screen and (max-width: 768px) {
  main #apriConfirm {
    height: auto;
    text-align: center;
    padding-bottom: 60px;
    margin: auto;
  }
  main #apriConfirm img {
    margin-top: 100px;
    width: 50%;
  }
  main #apriConfirm h2 {
    margin-top: 25px;
  }
}

@media screen and (max-width: 420px) {
  main #apriConfirm img {
    margin-top: 85px;
    width: 75%;
  }
  main #apriConfirm h2 {
    font-weight: "Lato" !important;
    font-size: 36px !important;
    color: #1E2022 !important;
    margin-top: 20px;
  }
  main #apriConfirm p {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  main #apriConfirm h2 {
    font-weight: "Lato" !important;
    font-size: 36px !important;
    color: #1E2022 !important;
  }
}

@media screen and (max-width: 340px) {
  main #apriConfirm h2 {
    font-weight: "Lato" !important;
    font-size: 28px !important;
    color: #1E2022 !important;
  }
  main #apriConfirm p {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */