footer {
    padding-top: 70px;
    background: $light;

    .links {
        margin-bottom: 50px;

        ul {
            li {
                list-style: none;
                
                a {
                    color: $dark;
                    font-size: $sizeResume;
                }
            }
        }
    }

    .newsletter {
        margin-bottom: 50px;

        h5 {
            @include titulo($sizeTitle6);
            margin-bottom: 20px;
        }

        p {
            color: $textGrey;
            font-size: $sizeResume;
            margin-bottom: 20px;
        }

        form {
            input {
                border: 0;
                border-bottom: .5px solid $dark;
                padding-left: 0; 
            }

            button {
                background: transparent;
                border: 0;
                border-bottom: .5px solid $dark;
            }
        }
    }

    .footer {
        padding-bottom: 20px;

        a {
            color: $dark;
            font-size: $sizeResume;
        }
        a:hover {
            text-decoration: underline;
        }

        .title {
            text-align: right;

            a {
                text-decoration: none;

                h2 {
                    @include titulo($sizeTitle2);
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        text-align: center;

        .newsletter {
            margin-bottom: 20px;
            
            form {
                width: 62.5%;
                margin: auto;
            }
        }

        .title {
            text-align: center !important;
            
            a {
                h2 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.footer-grey {
    footer {
        background: $bgGrey;

        .newsletter {
            input {
                background: $bgGrey;
            }
        }
    }
}