main.ayuda, main.question {
    padding-top: 110px;

    .jumbotron {
        border-radius: $borderRadius;
        border: 0;
        background-color: $bgColor;

        h1 {
            font-weight: bold;
            font-size: $sizeTitMax;
            margin-left: 40px;
        }
        p {
            width: 60%;
            margin-left: 40px;
            font-size: $sizeNormal;
            color: $thirdColor;
        }
        input {
            border-top-left-radius: $borderRadius !important;
            border-bottom-left-radius: $borderRadius !important;
            border: none !important;
        }
    }

    .container-ayuda {
        max-width: 950px;
        margin: auto;

        hr {
            margin: 60px 0;
        }
    
        .preguntas-frecuentes {
            h2 {
                font-weight: bold;
                font-size: $sizeTitle2;
            }
    
            .preguntas {
                a {
                    color: $secondColor;
                    margin-bottom: 15px;
                }
            }
        }
    
        .temas-ayuda {
            h2 {
                font-weight: bold;
                font-size: 28px;
            }
    
            .agrupacion {
                background-color: $bgColor;
                border-radius: $borderRadius;
    
                .menus {
                    .list-group-item {
                        border-radius: 0;
                        border-left: 0;
                        border-right: 0;
                        border-color: $bgColor;
                    }
    
                    .active {
                        background-color: $secondColor !important;
                        border-color: $secondColor !important;
                    }
                }
    
                .preguntas {
                    padding: 20px 10px;
    
                    a {
                        color: $secondColor;
                    }
                }
            }
        }

        .atencion-cliente {
            margin-top: 100px;

            .pedido {
                h2 {
                    font-weight: bold;
                    font-size: $sizeTitMax;
                }
                p {
                    color: $thirdColor;
                    font-size: $sizeResume;
                }
                a {
                    color: $secondColor;
                    font-size: $sizeResume;
                }
            }

            .servicio {
                background-color: $bgColor;
                padding: 20px;
                border-radius: $borderRadius;

                h5 {
                    color: $thirdColor;
                    margin-bottom: 0;
                }
                h2 {
                    font-weight: bold;
                    font-size: $sizeTitMax;
                }
                hr {
                    margin: 20px 0;
                }
                span {
                    color: $thirdColor;
                }
                .button {
                    padding: 10px 20px;
                    font-size: $sizeResume;
                    margin-top: 30px;
                }
            }
        }
    }

    .pregunta {
        .volver {
            color: $secondColor;
            font-size: $sizeResume;
        }

        .titulo {
            h1 {
                font-weight: bold;
                font-size: $sizeTitle3;
            }
            p {
                font-size: $sizeResume;
                color: $thirdColor;
    
                b {
                    color: $mainColor;
                }
            }
        }

        .cuerpo {
            margin-top: 40px;

            p {
                color: $thirdColor;
                font-size: $sizeResume;
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 910px) {
    main.ayuda, main.question {
        padding-top: 65px;

        .jumbotron {
            text-align: center;
            margin-bottom: 0px;

            h1 {
                margin: auto;
            }
            p {
                margin: auto;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    main.ayuda {
        .jumbotron {
            h1 {
                font-size: 30px !important;
            }
        }
    }
}