main.categoria {
    padding-top: 110px;

    .jumbotron {
        border-radius: $borderRadius;
        border: 0;
        background-size: cover;
        background-position: center 0px;
        background-repeat: no-repeat;
        text-align: center;

        h1 {
            font-size: $sizeTitMax;
            font-weight: bold;
        }
    
        p {
            width: 50%;
            margin: auto;
        }
    }
}

@media screen and (max-width: 910px) {
    main.categoria {
        padding-top: 65px;

        .jumbotron {
            text-align: center;

            h1 {
                margin: auto;
            }
            p {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    main.categoria {
        .jumbotron {
            h1 {
                font-size: 30px !important;
            }
        }
    }
}