main.contacto {
    padding-top: 130px;
    padding-bottom: 60px;

    .titulo {
        h1 {
            font-weight: bold;
        }

        p {
            color: $thirdColor;
            width: 60%;
        }
    }

    h3 {
        font-size: 25px;
        font-weight: bold;
    }

    .info {
        h5 {
            margin-top: 40px;
            font-weight: bold;
        }

        .subtitle {
            font-size: $sizeResume;
            color: $thirdColor;
        }

        p {
            color: $thirdColor;
            font-size: $sizeNormal;
            margin-bottom: 8px;
        }

        a {
            color: $secondColor;
        }
        a:hover {
            text-decoration: none;
        }
    }

    .formulario {
        .subtitle {
            font-size: $sizeResume;
            color: $thirdColor;
            margin-bottom: 30px;
        }

        input {
            border-radius: $borderRadius;
            border: none;
            background: $bgColor;
        }
        textarea {
            border-radius: $borderRadius;
            border: none;
            background: $bgColor;
        }

        .legal {
            font-size: 10px;
            color: $thirdColor;
            margin-top: 10px;
        }

        .button {
            padding: 12px 15px;
        }
    }

    .maps {
        margin-top: 20px;
        
        h3 {
            margin-bottom: 20px;
        }

        iframe {
            width: 100%;
            border-radius: $borderRadius;
            height: 300px;
        }
    }
}

@media screen and (max-width: 910px) {
    main.contacto {
        padding-top: 65px;

        .titulo {
            h1 {
                font-size: 30px;
            }

            p {
                width: 100%;
            }
        }

        h3 {
            font-size: 25px;
        }

        .info {
            margin: auto;

            h5 {
                margin-top: 20px;
            }
        }

        .formulario {
            h3 {
                margin-top: 40px;
            }
        }
    }
}