.filtros {
    padding: 40px 30px 0px 30px;
    background-color: $bgColor;
    border-radius: $borderRadius;

    .filtro {
        margin-bottom: 46px;

        h5 {
            color: $mainColor;
            font-size: $sizeTitProd;
            font-weight: bold;
        }

        ul {
            li {
                font-size: $sizeResume;
                a {
                    color: $thirdColor;
                }
            }
        }

        label {
            font-size: $sizeResume;
            color: $thirdColor;
        }
    }

    .filtro.price {
        p {
            margin-top: -8px;
            font-size: $sizeResume;
            color: $thirdColor;
        }
    }
}

@media screen and (max-width: 910px) {
    .filtros {
        display: none;
    }
}