footer {
    h5 {
        font-size: $sizeTitle;
        color: $secondColor;
        font-weight: bold;
        margin-top: 20px;
    }

    ul {
        li {
            a {
                color: $thirdColor !important;
                font-size: $sizeResume;
            }
        } 
    }

    a:hover {
        text-decoration: underline;
    }

    i {
        font-size: 25px;
    }
    i:hover {
        color: $secondColor;
    }

    .footer-copyright {
        background-color: $secondColor !important;
        color: $mainColor2;
        
        a {
            color: $mainColor2;
        }
    }
}

span.ir-arriba {
    display: none;
	padding: 12px 12px 7px 12px;
    background: $secondColor;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: $borderRadius;
    
    i {
        color: $mainColor2;
	    font-size: $sizeTitle;
    }
}