main.inicio {
    padding-top: 110px;

    .jumbotron {
        border-radius: $borderRadius;
        border: 0;
        background-size: cover;
        background-position: center 0px;
        background-repeat: no-repeat;

        h1 {
            font-size: $sizeTitMax;
            margin-left: 40px;
        }
        p {
            width: 60%;
            margin-left: 40px;
            font-size: $sizeTitProd;
        }
    }

    .categorias {
        padding-top: 20px;
        a {
            color: $secondColor;
        }

        h4 {
            font-weight: bold;
            font-size: $sizeTitle;
            margin-bottom: 30px;
        }
        a:hover {
            text-decoration: none;
        }

        .categoria {
            background-color: $bgColor;
            border-radius: $borderRadius;

            i {
                font-size: 35px;
                margin-top: 20px;
                margin-bottom: 8px;
                color: $mainColor;
            }
            p {
                color: $thirdColor;
                padding-bottom: 15px;
            }
        }
        .categoria:hover {
            background-color: $secondColor;

            i {
                color: $mainColor2;
            }
            p {
                color: $mainColor2;
            }
        }
    }

    .favoritos {
        padding-top: 60px;
        padding-bottom: 10px;

        h4 {
            font-weight: bold;
            font-size: $sizeTitle;
            margin-bottom: 30px;
        }
    }

    .razones {
        padding-top: 40px;
        padding-bottom: 40px;

        h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        span {
            display: block;
            font-weight: bold;
        }
        a {
            padding: 13px 35px;
        }
        a:hover {
            color: $mainColor2;
            text-decoration: none;
        }

        .razon {
            text-align: center;

            i {
                font-size: 30px;
                margin-bottom: 20px;
                color: $secondColor;
            }
            h5 {
                font-weight: bold;
            }
            p {
                font-size: $sizeResume;
                color: $thirdColor;
            }
        }
    }

    .mas-vendidos {
        padding-top: 60px;

        h4 {
            font-weight: bold;
            font-size: $sizeTitle;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 910px) {
    main.inicio {
        padding-top: 65px;

        .jumbotron {
            text-align: center;
            margin-bottom: 0px;

            h1 {
                margin: auto;
            }
            p {
                margin: auto;
                width: 100%;
            }
        }

        .categorias {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    main.inicio {
        .favoritos {
            padding-bottom: 10px;

            h4 {
                text-align: center;
            }
            .favorito {
                h5 {
                    font-size: $sizeTitle;
                }

                h6 {
                    font-size: $sizeTitProd;
                }

                p {
                    font-size: $sizeTitProd;
                    margin-bottom: 30px;
                }
                span {
                    font-size: $sizeResume;
                }
            }
        }

        .razones {
            text-align: center;
            padding-bottom: 60px;
            
            span {
                display: inline;
            }

            .razon {
                i {
                    margin-top: 30px;
                }

                p {
                    font-size: $sizeNormal;
                }
            }
        }

        .mas-vendidos {
            h4 {
                text-align: center;
            }

            a {
                margin-bottom: 35px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    main.inicio {
        .jumbotron {
            h1 {
                font-size: 30px !important;
            }
        }

        .razones {
            h2 {
                font-size: $sizeTitle;
            }
        }
    }
}