/* Color */
$mainColor: #000;
$mainColor2: #fff;
$secondColor: #C23751;
$thirdColor: #6C757C;
$bgColor: #ededed;

/* Size */
$borderRadius: 13px;
$sizeTitMax: 40px;
$sizeTitle: 21px;
$sizeTitle2: 28px;
$sizeTitle3: 24px;
$sizeTitProd: 18px;
$sizeResume: 14px;
$sizeNormal: 16px;