main.inicio-cliente {
    padding-top: 110px;

    h1, h2 {
        font-weight: bold;
        font-size: $sizeTitMax;
        margin-left: 25px;
        margin-bottom: 30px;
    }

    form {
        width: 90%;
        margin: auto;

        label {
            font-weight: bold;
            font-size: $sizeTitle;
        }
        input {
            border-radius: $borderRadius;
            border: none;
            background: $bgColor !important;
        }
        
        a {
            color: $secondColor;
        }
    }

    .login {
        .por-que {
            margin-top: 50px;
            margin-left: 25px;

            h4 {
                font-weight: bold;
            }
            ul {
                width: 90%;
                margin: auto;

                li {
                    color: $thirdColor;
                    margin-bottom: 10px;
                    list-style: none;
                    font-size: $sizeResume;
                }
            }
            ul li::before {
                content: "\2022";
                color: $secondColor;
                font-size: 16px;
                font-weight: bold;
                display: inline-block; 
                width: 1em;
                margin-left: -1em;
            }
        }
    }

    .registro {
        border-left: solid 1px #E5E5E5;
    }
}

@media screen and (max-width: 910px) {
    main.inicio-cliente {
        padding-top: 60px;

        h2 {
            margin-left: 0;
        }
        form {
            width: 100%;
        }

        .login {
            .por-que {
                margin-left: 0;

                ul {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main.inicio-cliente {
        h2 {
            margin-top: 40px;
        }

        .registro {
            h2 {
                margin-top: 70px;
            }
            border-left: 0;
        }

        .login {
            .por-que {
                display: none;
            }
        }
    }
}