@mixin titulo($size, $color: $dark, $family: $fontTitle) {
    font-weight: bold !important;
    font-size: $size !important;
    font-family: $family !important;
    color: $color !important;
}

@mixin espaciados() {
    padding-top: 100px;
    padding-bottom: 100px;
}

@mixin img($alto, $ancho: 100%) {
    width: $ancho;
    height: $alto;
    object-fit: cover;
}