// Colors
$dark:  #191919;
$light: #FFFFFF;
$black: #000000;
$grey:  #F4F4F4;
$bgGrey:#ECECEC;
$textGrey: #6C757C;

// Text sizes
$sizeTitle1: 40px;
$sizeTitle2: 35px;
$sizeTitle3: 30px;
$sizeTitle4: 25px;
$sizeTitle5: 20px;
$sizeTitle6: 18px;
$sizeNormal: 16px;
$sizeResume: 14px;

// Text family
$fontTitle: 'Playfair Display', serif;
$fontNormal: 'Roboto', sans-serif;