<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Servicios</title>
</head>
<body>
    <main id="services">
        <nav class="navbar navbar-expand-xl py-3">
            <div class="container-fluid">
                <a class="subtitle navbar-brand" href="#">Notaría Bailén 29</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-links" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="iconify" data-icon="bi:list"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav-links">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Quiénes somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">At. al cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Préstamos hipotecários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Enlaces de interés</a>
                        </li>
                        <li class="nav-item contact">
                            <a class="nav-link" href="index.html#contacto">Contacte con nosotros</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="servicios" class="mt-5">
            <div class="container">
                <div class="col-lg-5">
                    <div class="head">
                        <h1 class="title">Servicios</h1>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>

                <div class="particulares">
                    <h2 class="title"><img src="img/icons/particular.svg" width="55" class="mb-1">Particulares</h2>

                    <div class="row">
                        <div class="col-lg-4">
                            <p><img src="img/icons/list.svg">Poderes</p>
                            <p><img src="img/icons/list.svg">Poderes preventivos</p>
                            <p><img src="img/icons/list.svg">Testamentos</p>
                        </div>
                        <div class="col-lg-4">
                            <p><img src="img/icons/list.svg">Herencias</p>
                            <p><img src="img/icons/list.svg">Declaración de herederos</p>
                            <p><img src="img/icons/list.svg">Donaciones</p>
                        </div>
                        <div class="col-lg-4">
                            <p><img src="img/icons/list.svg">Matrimonio</p>
                            <p><img src="img/icons/list.svg">Divorcio</p>
                            <p><img src="img/icons/list.svg">Capitulaciones matrimoniales</p>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="bank">
                            <h2 class="title"><img src="img/icons/bank-service.svg" width="55" class="mb-2">Contratación bancaria</h2>

                            <p><img src="img/icons/list.svg">Pólizas bancarias</p>
                            <p><img src="img/icons/list.svg">Prestamos hipotecários</p>
                            <p><img src="img/icons/list.svg">Cancelación de hipoteca</p>
                        </div>

                        <div class="company">
                            <h2 class="title"><img src="img/icons/company.svg" width="55" class="mb-2">Empresas</h2>

                            <p><img src="img/icons/list.svg">Constitución de sociedades</p>
                            <p><img src="img/icons/list.svg">Nombramientos</p>
                            <p><img src="img/icons/list.svg">Acuerdos sociales</p>
                            <p><img src="img/icons/list.svg">Poderes</p>
                            <p><img src="img/icons/list.svg">Disolución y liquidación</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image">
                            <img src="img/images/services2.jpg" class="img-fluid" alt="services">
                        </div>
                    </div>
                </div>

                <div class="real-state">
                    <h2 class="title"><img src="img/icons/state.svg" width="55" class="mb-1">Propiedad inmobiliaria</h2>

                    <div class="row">
                        <div class="col-lg-6">
                            <p><img src="img/icons/list.svg">Compraventas</p>
                            <p><img src="img/icons/list.svg">Declaración de obra nueva</p>
                            <p><img src="img/icons/list.svg">División horizontal</p>
                        </div>
                        <div class="col-lg-6">
                            <p><img src="img/icons/list.svg">Inmatriculaciones</p>
                            <p><img src="img/icons/list.svg">Escesos de cabida</p>
                            <p><img src="img/icons/list.svg">Coordinación Registro-Catastro</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="prestamos">
            <div class="container">
                <h2 class="title">Ley de contratos de crédito inmobiliario / Prestamos hipotecários</h2>

                <p>Con la entrada en vigor de la Ley de Contratos de Crédito Inmobiliario, el cliente deberá comparecer en la notaría previamente a la formalización del préstamo hipotecario, para ser informado de las condiciones. Este asesoramiento es gratuito y es el cliente quien tiene derecho a elegir notario. Desde la entrega de la documentación al cliente por la entidad financiera hasta la firma del préstamo deben transcurrir al menos diez días naturales.</p>
            </div>
        </section>

        <section id="enlaces-de-interes">
            <div class="container">
                <h2 class="title">Enlaces de interés</h2>

                <div class="row">
                    <div class="col-lg-4">
                        <a href="#"><img src="img/icons/list-2.svg">Poderes</a>
                        <a href="#"><img src="img/icons/list-2.svg">Poderes preventivos</a>
                        <a href="#"><img src="img/icons/list-2.svg">Testamentos</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="#"><img src="img/icons/list-2.svg">Herencias</a>
                        <a href="#"><img src="img/icons/list-2.svg">Declaración de herederos</a>
                        <a href="#"><img src="img/icons/list-2.svg">Donaciones</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="#"><img src="img/icons/list-2.svg">Matrimonio</a>
                        <a href="#"><img src="img/icons/list-2.svg">Divorcio</a>
                        <a href="#"><img src="img/icons/list-2.svg">Capitulaciones matrimoniales</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="titulo">
                    <h2 class="title">No dude en ponerse en contacto con nosotros para recibir información sobre nuestros servicios.</h2>

                    <a href="index.html#contacto">Contacte con nosotros</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container text-xl-start text-lg-start text-md-start text-sm-start text-center mb-4">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <h5 class="title">Notaría <br> Bailén 29</h5>
                </div>
        
                <div class="col-lg-2 mx-auto">
                    <h5 class="subtitle">Enlaces</h5>
        
                    <ul class="list-unstyled">
                        <li><a href="/"><img src="img/icons/link.svg">Inicio</a></li>
                        <li><a href="#"><img src="img/icons/link.svg">Quiénes somos</a></li>
                        <li><a href="services.html"><img src="img/icons/link.svg">Servicios</a></li>
                        <li><a href="#"><img src="img/icons/link.svg">Enlaces de interés</a></li>
                    </ul>
                </div>
        
                <hr class="clearfix w-100 d-lg-none">
        
                <div class="col-lg-2 mx-auto">
                    <h5 class="subtitle">Privacidad</h5>
        
                    <ul class="list-unstyled">
                        <li><a href="#"><img src="img/icons/link.svg">Política de privacidad</a></li>
                        <li><a href="#"><img src="img/icons/link.svg">Política de cookies</a></li>
                    </ul>
                </div>
        
                <hr class="clearfix w-100 d-lg-none">
        
                <div class="col-lg-3 mx-auto">
                    <h5 class="subtitle">Empresa</h5>
        
                    <ul class="list-unstyled">
                        <li>
                            <img src="img/icons/map.svg">Calle Bailén, 29, entresuelo derecha 03001, Alicante
                        </li>
                        <li><img src="img/icons/phone.svg">965 920 329 / 965 981 708</li>
                        <li><img src="img/icons/mail.svg">info@notariabailen29.com</li>
                    </ul>
                </div>
            </div>
        </div>
     
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
           <a href=""> Aprisoft</a>
        </div>
        <!-- Copyright -->
     </footer>

    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>
</html>