section.apriLanding {
   .apriMainArticle {
      margin-bottom: 5px;

      article {
         padding: 0;
         
         .apriImage {
            @include gradient;

            img {
               @include img(480px);
            }
         }

         .apriTitle {
            position: absolute;
            bottom: 50px;
            left: 55px;
            width: 75%;

            h2 {
               @include titulo($sizeTitle1, bold, $light);
               @include titleLength;
            }

            h6 {
               @include subtitulo($light, 100px, $light);
               font-weight: normal !important;
            }
         }
      }

      @media screen and (max-width: 991px) {
         article {
            .apriImage {
               img {
                  @include img(300px);
               }
            }

            .apriTitle {
               bottom: 20px;
               left: 30px;
               width: 90%;

               h2 {
                  font-size: $sizeTitle2 !important;
               }
            }
         }
      }

      @media screen and (max-width: 768px) {
         article {
            .apriTitle {
               left: 13px;

               h2 {
                  font-size: $sizeTitle3 !important;
               }
            }
         }
      }
   }

   .apriForeignArticle {
      article {
         cursor: pointer;
         // display: inline-block;
         // width: 33.1%;
         
         .apriImage {
            @include gradient;

            img {
               @include img(250px);
            }
         }

         .apriTitle {
            position: absolute;
            bottom: 10px;
            width: 80%;
            
            h2 {
               @include titulo($sizeTitle4, bold, $light);
               @include titleLength($sizeTitle4, $sizeTitle4, $sizeTitle4, 2);
            }

            h6 {
               @include subtitulo($light, 100px, $light);
               font-weight: normal !important;
            }
         }

         &:nth-child(1) {
            padding-right: 5px;

            .apriTitle {
               left: 40px;
            }
         }
         &:nth-child(2) {
            padding: 0;

            .apriTitle {
               left: 25px;
               width: 90%;
            }
         }
         &:nth-child(3) {
            padding-left: 5px;

            .apriTitle {
               left: 30px;
            }
         }
      }

      @media screen and (max-width: 767px) {
         article {
            margin-bottom: 5px;

            .apriImage {
               img {
                  @include img(190px);
               }
            }

            .apriTitle {
               h2 {
                  font-size: $sizeResume !important;
               }
            }

            &:nth-child(1) {
               .apriTitle {
                  bottom: 10px;
                  left: 25px;
                  width: 85%;
               }
            }
            &:nth-child(2) {
               padding: 0 15px;

               .apriTitle {
                  bottom: 10px;
                  left: 25px;
                  width: 90%;
               }
            }
            &:nth-child(3) {
               .apriTitle {
                  bottom: 10px;
                  left: 15px;
                  width: 85%;
               }
            }
         }
      }
   }
}