section.apriContact {
   @include espaciados(0, 40px);

   .apriTitle {
      @include titleSection;
      margin: 40px 0 40px 0;
   }

   .apriForm {
      h4 {
         @include titulo($sizeTitle4, bold);
         @include underline(115px);
      }

      h5 {
         @include titulo($sizeNormal, bold);
      }

      p {
         font-size: $sizeNormal;
      }
      
      .links {
         a {
            color: $brandColor;
            font-size: $sizeResume;
         }

         .iconify {
            margin-bottom: 3px;
         }
      }

      form {
         input.form-control { background: #fff; }
         input.form-control:focus:not([readonly]),
         textarea.md-textarea:focus:not([readonly]) {
            -webkit-box-shadow: 0 0 0 0 $brandColor !important;
            box-shadow: 0 0 0 0 $brandColor !important;
            border: 2px solid $brandColor !important;
         }
         input.form-control:focus:not([readonly]) + label,
         textarea.md-textarea:focus:not([readonly]) + label,
         .prefix.active { color: $brandColor !important; }
         #login .btn { background: $brandColor !important; }

         button {
            background: transparent;
            border: 0;
            color: $brandColor;
            font-size: $sizeTitle4;

            .iconify {
               color: $dark;
               margin-bottom: 3px;
            }
         }

         @media screen and (max-width: 768px) {
            text-align: center;
         }
      }
   }
}

section.apriMap {
   @include espaciados(0);

   .apriTitle {
      @include titleSection;
      margin: 40px 0 40px 0;
   }

   iframe {
      width: 100%;
      height: 350px;
   }
}