<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/mdb.min.css">
	<link rel="stylesheet" href="css/style.css">

   <title>Contacto | David's Blog</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg z-depth-0">
      <div class="container">
         <a class="navbar-brand" href="index.html">David's Blog</a>
         
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
         aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="iconify" data-icon="mdi-light:menu" data-inline="false"></span>
         </button>
         
         <div class="collapse navbar-collapse links" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link" href="index.html">Inicio</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="featured.html">Más vistos</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" data-scroll href="index.html#last">Últimos posts</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="last.html">Todos los posts</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" data-scroll href="index.html#categories">Categorías</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contacto</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   
   <main class="container">
      <!--Section: Content-->
      <section class="apriContact">    
         <div class="apriTitle">
            <h2>Contacto<span>.</span></h2>
         </div>
      
         <div class="apriForm row">
            <div class="col-md-5 mb-0 mb-md-0">
               <h4>Llámenos o envíenos un email</h4>
         
               <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae.</p>

               <h5>Soporte:</h5>
               <p class="mb-2">+ 01 234 567 88</p>       
               <div class="links">
                  <span class="iconify" data-icon="mdi-light:minus" data-inline="false"></span><a href="featured.html">Contacto de soporte</a>
               </div>       
               <p class="mb-4">Our technical support is available by phone or email from 11am to 11pm.</p>

               <h5>Trabajo:</h5>
               <p class="mb-2">+ 01 234 567 88</p>
               <div class="links">
                  <span class="iconify" data-icon="mdi-light:minus" data-inline="false"></span><a href="featured.html">Contacto de trabajo</a>
               </div>  
               <p class="mb-4">Our sales team is available by phone or email from 11am to 11pm.</p>

               <h5>Consultas generales:</h5>
               <div class="links">
                  <span class="iconify" data-icon="mdi-light:minus" data-inline="false"></span><a href="featured.html">info@company.com</a>
               </div>  
            </div>

            <form class="col-md-7 mb-4 mb-md-0">
               <div class="row">
                  <div class="col-md-6">
                     <div class="md-form md-outline mb-0">
                        <input type="text" name="nombre" id="form-first-name" class="form-control">
                        <label for="form-first-name">Nombre</label>
                     </div>
                  </div>

                  <div class="col-md-6">
                     <div class="md-form md-outline mb-0">
                        <input type="text" name="apellido" id="form-last-name" class="form-control">
                        <label for="form-last-name">Apellido</label>
                     </div>
                  </div>
               </div>
         
               <div class="md-form md-outline mt-3">
                  <input type="email" name="email" id="form-email" class="form-control">
                  <label for="form-email">E-mail</label>
               </div>
         
               <div class="md-form md-outline mt-3">
                  <input type="number" name="movil" id="form-number" class="form-control">
                  <label for="form-number">Teléfono móvil</label>
               </div>
         
               <select class="browser-default custom-select" name="departamento" style="color: #757575bd">
                  <option selected>Selecciona departamento</option>
                  <option value="1">Soporte</option>
                  <option value="2">Trabajo</option>
                  <option value="3">General</option>
               </select>
         
               <div class="md-form md-outline mb-3">
                  <textarea id="form-message" name="mensaje" class="md-textarea form-control" rows="6"></textarea>
                  <label for="form-message">¿En qué te podemos ayudar?</label>
               </div>
         
               <button type="submit"><span class="iconify" data-icon="mdi-light:minus" data-inline="false"></span>Enviar mensaje</button>
            </form>
         </div>
      </section>

      <section class="apriMap">
         <div class="apriTitle">
            <h2>Encuéntranos<span>.</span></h2>
         </div>

         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50057.83254329822!2d-0.5075435055049426!3d38.35790289713621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6235da3b9dab4b%3A0x1d7da872ac0b81e3!2sAlicante%20(Alacant)%2C%20Alicante!5e0!3m2!1ses!2ses!4v1583495163486!5m2!1ses!2ses" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </section>
   </main>

   <footer class="font-small pt-4">
      <div class="container text-center text-md-left">
         <div class="row mt-3 pb-3">
            <section class="apriCompany col-md-4 col-lg-4 mt-3 mb-5">
               <h5 class="mb-4">David's Blog</h5>
               <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis illo vero minima distinctio, reprehenderit quisquam consequuntur dolores provident eligendi fugit.</p>
            </section>
         
            <section class="apriPages col-md-2 col-lg-2 ml-auto mt-3 mb-5">
               <h5 class="mb-4">Páginas</h5>
               <p><a href="index.html">Inicio</a></p>
               <p><a href="featured.html">Más vistos</a></p>
               <p><a data-scroll href="index.html#last">Últimos posts</a></p>
               <p><a href="last.html">Todos los posts</a></p>
               <p><a data-scroll href="index.html#categories">Categorías</a></p>
               <p><a href="contact.html">Contacto</a></p>
            </section>
         
            <section class="apriCategories col-md-2 col-lg-2 ml-auto mt-3 mb-5">
               <h5 class="mb-4">Categorías</h5>
               <p><a href="#!">Lorem ipsum</a></p>
               <p><a href="#!">Ipsum dolor ipsum</a></p>
               <p><a href="#!">Lorem ipsum dolor</a></p>
               <p><a href="#!">Lorem dolor ipsum</a></p>
               <p><a href="#!">Dolor lorem ipsum</a></p>
            </section>
         
            <section class="apriContact col-md-4 col-lg-3 ml-auto mt-3 mb-5">
               <h5 class="mb-4">Contacto</h5>
               <p>
                  <span class="iconify" data-icon="uil:map-marker" data-inline="false"></span>
                  Lorem Ipsum, LI 12345, LI
               </p>
               <p>
                  <span class="iconify" data-icon="uil:envelope" data-inline="false"></span>
                  info@company.com
               </p>
               <p>
                  <span class="iconify" data-icon="uil:mobile-android" data-inline="false"></span>
                  + 01 234 567 88
               </p>
               <p>
                  <span class="iconify" data-icon="uil:print" data-inline="false"></span>
                  + 01 234 567 89
               </p>
            </section>
         </div>
         
         <div class="row">
            <section class="copyright col-md-7 col-lg-8">
               <p class="text-center text-md-left">© 2020 Copyright:
                  <a href="http://aprisoft.es/"> Aprisoft.es</a>
               </p>
            </section>
         
            <section class="social col-md-5 col-lg-4 ml-lg-0">
               <div class="text-center text-md-right">
                  <ul class="list-unstyled list-inline">
                     <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm">
                           <span class="iconify" data-icon="uil:facebook-f" data-inline="false"></span>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm">
                           <span class="iconify" data-icon="uil:twitter-alt" data-inline="false"></span>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm">
                           <span class="iconify" data-icon="mdi:instagram" data-inline="false"></span>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm">
                           <span class="iconify" data-icon="mdi:pinterest" data-inline="false"></span>
                        </a>
                     </li>
                  </ul>
               </div>
            </section>
         </div>
      </div>
   </footer>

   <!-- scripts -->
	<script type="text/javascript" src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.min.js"></script>
	<script>
		// Smooth Scroll
		var scroll = new SmoothScroll('a[href*="#"]', {

		selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
		selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
		speed: 1000, // Integer. How fast to complete the scroll in milliseconds
		easing: 'easeInOutCubic', // Easing pattern to use
		offset: 40, // Integer. How far to offset the scrolling anchor location in pixels
		callback: function ( anchor, toggle ) {} // Function to run after scrolling

		});
	</script>
</body>
</html>