<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/mdb.min.css">
	<link rel="stylesheet" href="css/style.css">

	<title>David's Blog</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg z-depth-0">
			<div class="container">
				<a class="navbar-brand" href="index.html">David's Blog</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
				aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
					<span class="iconify" data-icon="mdi-light:menu" data-inline="false"></span>
				</button>
				
				<div class="collapse navbar-collapse links" id="navbarSupportedContent-4">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="index.html">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="featured.html">Más vistos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-scroll href="index.html#last">Últimos posts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="last.html">Todos los posts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-scroll href="index.html#categories">Categorías</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contacto</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<section class="apriLanding container">
			<div class="apriMainArticle">
				<article class="col-md-12">
					<a href="article.html">
						<div class="apriImage view zoom">
							<img src="img/landing/40.jpg" alt="article">
						</div>
						
						<div class="apriTitle">
							<h6>SEP 15 - Categoría <b>·</b> Por:&nbsp; <b>John Doe</b></h6>
							<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, molestiae?</h2>
						</div>
					</a>
				</article>
			</div>
			
			<div class="apriForeignArticle">
				<div class="row">
					<article class="col-md-3 col-6 order-md-1 order-1">
						<a href="article.html">
							<div class="apriImage view zoom">
								<img src="img/landing/58.jpg" alt="article">
							</div>

							<div class="apriTitle">
								<h6>SEP 10 - Categoría <b>·</b> Por:&nbsp; <b>Alan Turing</b></h6>
								<h2>Lorem ipsum dolor sit, consectetur adipisicing.</h2>
							</div>
						</a>
					</article>
					
					<article class="col-md-6 order-md-2 order-3">
						<a href="article.html">
							<div class="apriImage view zoom">
								<img src="img/landing/project5.jpg" alt="article">
							</div>

							<div class="apriTitle">
								<h6>SEP 11 - Categoría <b>·</b> Por:&nbsp; <b>Tom Johnson</b></h6>
								<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ut!</h2>
							</div>
						</a>
					</article>
					
					<article class="col-md-3 col-6 order-md-3 order-2">
						<a href="article.html">
							<div class="apriImage view zoom">
								<img src="img/landing/88.jpg" alt="article">
							</div>

							<div class="apriTitle">
								<h6>SEP 09 - Categoría <b>·</b> Por:&nbsp; <b>Alax Laurie</b></h6>
								<h2>Lorem ipsum dolor sit amet.</h2>
							</div>
						</a>
					</article>
				</div>
			</div>
		</section>
	</header>

	<main class="apriIndex">
		<section class="apriFeatured container">
			<div class="apriTitleSection d-flex align-items-center">
				<div class="apriTitle">
					<h2>Lo más visto<span>.</span></h2>
				</div>

				<div class="verMas">
					<span class="iconify" data-icon="mdi-light:minus" data-inline="false"></span><a href="featured.html">VER MÁS</a>
				</div>
			</div>

			<div class="row">
				<div class="apriArticles col-lg-9">
					<div class="row">
						<article>
							<a href="article.html">
								<div class="apriImageArticle view zoom">
									<img src="img/featured/headphones-2.jpg" alt="article">
								</div>
						
								<div class="apriTitleArticle">
									<h6>SEP 16 - Categoría <b>·</b> Por:&nbsp; <b>Nathalie Fry</b></h6>
									<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, molestiae.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImageArticle view zoom">
									<img src="img/featured/90.jpg" alt="article">
								</div>
						
								<div class="apriTitleArticle">
									<h6>SEP 16 - Categoría <b>·</b> Por:&nbsp; <b>Ella Stone</b></h6>
									<h2>Lorem ipsum dolor sit amet, consect adipisicing elit. Quasi, quidem!</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImageArticle view zoom">
									<img src="img/featured/watch.jpg" alt="article">
								</div>
						
								<div class="apriTitleArticle">
									<h6>SEP 16 - Categoría <b>·</b> Por:&nbsp; <b>Lara Croft</b></h6>
									<h2>Lorem ipsum dolor sit amet, consect adipisicing elit. Quasi, quidem!</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImageArticle view zoom">
									<img src="img/featured/car.jpg" alt="article">
								</div>
						
								<div class="apriTitleArticle">
									<h6>SEP 16 - Categoría <b>·</b> Por:&nbsp; <b>Billie Turner</b></h6>
									<h2>Lorem ipsum dolor sit amet, consect adipisicing elit. Quasi, quidem!</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImageArticle view zoom">
									<img src="img/featured/headphones.jpg" alt="article">
								</div>
						
								<div class="apriTitleArticle">
									<h6>SEP 16 - Categoría <b>·</b> Por:&nbsp; <b>Caroline Thompson</b></h6>
									<h2>Lorem ipsum dolor sit amet, consect adipisicing elit. Quasi, quidem!</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImageArticle view zoom">
									<img src="img/featured/project4.jpg" alt="article">
								</div>
						
								<div class="apriTitleArticle">
									<h6>SEP 16 - Categoría <b>·</b> Por:&nbsp; <b>Anna Polkovsky</b></h6>
									<h2>Lorem ipsum dolor sit amet, consect adipisicing elit. Quasi, quidem!</h2>
								</div>
							</a>
						</article>
					</div>
				</div>
				
				<div class="ads-featured col-lg-3">
					<img src="img/last/vertical.jpg" alt="">
				</div>
			</div>
		</section>

		<section class="apriCategories" id="categories">
			<div class="container">
				<div class="apriTitleSection">
					<h2>Categorías<span>.</span></h2>
				</div>
			</div>

			<div class="apriScrollCategories">
				<article>
					<a href="category.html">
						<div class="apriImageCategory view">
							<img src="img/last/img35.jpg" alt="article">
							<div class="mask flex-center rgba-black-light">
								<h2>Category</p>
							</div>
						</div>
					</a>
				</article>
				
				<article>
					<a href="category.html">
						<div class="apriImageCategory view">
							<img src="img/last/img27.jpg" alt="article">
							<div class="mask flex-center rgba-black-light">
								<h2>Category</p>
							</div>
						</div>
					</a>
				</article>
				
				<article>
					<a href="category.html">
						<div class="apriImageCategory view">
							<img src="img/last/img37.jpg" alt="article">
							<div class="mask flex-center rgba-black-light">
								<h2>Category</p>
							</div>
						</div>
					</a>
				</article>
				
				<article>
					<a href="category.html">
						<div class="apriImageCategory view">
							<img src="img/last/img272.jpg" alt="article">
							<div class="mask flex-center rgba-black-light">
								<h2>Category</p>
							</div>
						</div>
					</a>
				</article>
				
				<article>
					<a href="category.html">
						<div class="apriImageCategory view">
							<img src="img/last/img36.jpg" alt="article">
							<div class="mask flex-center rgba-black-light">
								<h2>Category</p>
							</div>
						</div>
					</a>
				</article>
				
				<article>
					<a href="category.html">
						<div class="apriImageCategory view">
							<img src="img/last/43.jpg" alt="article">
							<div class="mask flex-center rgba-black-light">
								<h2>Category</p>
							</div>
						</div>
					</a>
				</article>

				<article>
					<a href="category.html">
						<div class="apriImageCategory view">
							<img src="img/last/81.jpg" alt="article">
							<div class="mask flex-center rgba-black-light">
								<h2>Category</p>
							</div>
						</div>
					</a>
				</article>

				<article>
					<a href="category.html">
						<div class="apriImageCategory view">
							<img src="img/last/headphones.jpg" alt="article">
							<div class="mask flex-center rgba-black-light">
								<h2>Category</p>
							</div>
						</div>
					</a>
				</article>
			</div>
		</section>

		<section class="apriSpecial container">
			<div class="apriImage col-md-12">
				<a href="article.html">
					<div class="view zoom">
						<img src="img/special/special.jpg" alt="special">
					</div>
					<article>
						<div class="apriTitleArticle">
							<h6>SEP 12 - Categoría <b>·</b> Por:&nbsp; <b>John Doe</b></h6>
							<h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam!</h2>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus officiis fugit deserunt ratione quo, nulla voluptates. Non labore ipsum minima.</p>
						</div>
					</article>
				</a>
			</div>
		</section>

		<section class="apriLatest container" id="last">
			<div class="apriTitleSection">
				<h2>Últimos posts<span>.</span></h2>
			</div>

			<div class="row">
				<div class="apriArticles col-lg-9">
					<div class="row">
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/13.jpg" alt="">
									<h6>SEP 24 - Categoría <b>·</b> Por:&nbsp; <b>Veronica Smith</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste illum mollitia et.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/43.jpg" alt="">
									<h6>SEP 24 - Categoría <b>·</b> Por:&nbsp; <b>Sally Clarkson</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quia voluptatibus.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/81.jpg" alt="">
									<h6>SEP 23 - Categoría <b>·</b> Por:&nbsp; <b>Billy Turner</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/img25.jpg" alt="">
									<h6>SEP 23 - Categoría <b>·</b> Por:&nbsp; <b>Anna Smith</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/img26.jpg" alt="">
									<h6>SEP 23 - Categoría <b>·</b> Por:&nbsp; <b>Tommy Brian</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores id reprehenderit ad!</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/img27.jpg" alt="">
									<h6>SEP 22 - Categoría <b>·</b> Por:&nbsp; <b>Emma Lowrence</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, veniam.</h2>
								</div>
							</a>
						</article>

						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/img35.jpg" alt="">
									<h6>SEP 21 - Categoría <b>·</b> Por:&nbsp; <b>Natalie Fry</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/img36.jpg" alt="">
									<h6>SEP 20 - Categoría <b>·</b> Por:&nbsp; <b>John Doe</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia temporibus voluptatibus ut autem rerum earum.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/img37.jpg" alt="">
									<h6>SEP 20 - Categoría <b>·</b> Por:&nbsp; <b>Anna Smith</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/img272.jpg" alt="">
									<h6>SEP 20 - Categoría <b>·</b> Por:&nbsp; <b>John Doe</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nam sed placeat hic earum laudantium illo.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/project2.jpg" alt="">
									<h6>SEP 19 - Categoría <b>·</b> Por:&nbsp; <b>Joanna Thompson</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, cupiditate.</h2>
								</div>
							</a>
						</article>
						
						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/project4.jpg" alt="">
									<h6>SEP 19 - Categoría <b>·</b> Por:&nbsp; <b>John Doe</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro enim, veniam fuga dolores asperiores cum consectetur provident molestiae voluptatum!</h2>
								</div>
							</a>
						</article>

						<article>
							<a href="article.html">
								<div class="apriImage view zoom">
									<img src="img/last/headphones.jpg" alt="">
									<h6>SEP 19 - Categoría <b>·</b> Por:&nbsp; <b>Mark Marquez</b></h6>
								</div>
								
								<div class="apriTitleArticle">
									<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio illum deleniti ipsam commodi.</h2>
								</div>
							</a>
						</article>
					</div>

					<div class="verTodo">
						<span class="iconify" data-icon="mdi-light:minus" data-inline="false"></span><a href="last.html">VER TODO</a>
					</div>
				</div>

				<div class="ads-last col-lg-3">
					<img src="img/last/vertical.jpg" alt="">

					<img src="img/last/vertical.jpg" alt="" class="mt-4">
				</div>
			</div>
		</section>
	</main>

	<footer class="font-small pt-4">
		<div class="container text-center text-md-left">
			<div class="row mt-3 pb-3">
				<section class="apriCompany col-md-4 col-lg-4 mt-3 mb-5">
					<h5 class="mb-4">David's Blog</h5>
					<p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis illo vero minima distinctio, reprehenderit quisquam consequuntur dolores provident eligendi fugit.</p>
				</section>
			
				<section class="apriPages col-md-2 col-lg-2 ml-auto mt-3 mb-5">
					<h5 class="mb-4">Páginas</h5>
					<p><a href="index.html">Inicio</a></p>
					<p><a href="featured.html">Más vistos</a></p>
					<p><a data-scroll href="index.html#last">Últimos posts</a></p>
					<p><a href="last.html">Todos los posts</a></p>
					<p><a data-scroll href="index.html#categories">Categorías</a></p>
					<p><a href="contact.html">Contacto</a></p>
				</section>
			
				<section class="apriCategories col-md-2 col-lg-2 ml-auto mt-3 mb-5">
					<h5 class="mb-4">Categorías</h5>
					<p><a href="#!">Lorem ipsum</a></p>
					<p><a href="#!">Ipsum dolor ipsum</a></p>
					<p><a href="#!">Lorem ipsum dolor</a></p>
					<p><a href="#!">Lorem dolor ipsum</a></p>
					<p><a href="#!">Dolor lorem ipsum</a></p>
				</section>
			
				<section class="apriContact col-md-4 col-lg-3 ml-auto mt-3 mb-5">
					<h5 class="mb-4">Contacto</h5>
					<p>
						<span class="iconify" data-icon="uil:map-marker" data-inline="false"></span>
						Lorem Ipsum, LI 12345, LI
					</p>
					<p>
						<span class="iconify" data-icon="uil:envelope" data-inline="false"></span>
						info@company.com
					</p>
					<p>
						<span class="iconify" data-icon="uil:mobile-android" data-inline="false"></span>
						+ 01 234 567 88
					</p>
					<p>
						<span class="iconify" data-icon="uil:print" data-inline="false"></span>
						+ 01 234 567 89
					</p>
				</section>
			</div>
			
			<div class="row">
				<section class="copyright col-md-7 col-lg-8">
					<p class="text-center text-md-left">© 2020 Copyright:
						<a href="http://aprisoft.es/"> Aprisoft.es</a>
					</p>
				</section>
			
				<section class="social col-md-5 col-lg-4 ml-lg-0">
					<div class="text-center text-md-right">
						<ul class="list-unstyled list-inline">
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm">
									<span class="iconify" data-icon="uil:facebook-f" data-inline="false"></span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm">
									<span class="iconify" data-icon="uil:twitter-alt" data-inline="false"></span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm">
									<span class="iconify" data-icon="mdi:instagram" data-inline="false"></span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#" class="btn-floating btn-sm">
									<span class="iconify" data-icon="mdi:pinterest" data-inline="false"></span>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</footer>

	<!-- scripts -->
	<script type="text/javascript" src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.min.js"></script>
	<script>
		// Smooth Scroll
		var scroll = new SmoothScroll('a[href*="#"]', {

		selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
		selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
		speed: 1000, // Integer. How fast to complete the scroll in milliseconds
		easing: 'easeInOutCubic', // Easing pattern to use
		offset: 40, // Integer. How far to offset the scrolling anchor location in pixels
		callback: function ( anchor, toggle ) {} // Function to run after scrolling

		});
	</script>
</body>
</html>