/* Color */
/* Size */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.button {
  border: 0;
  color: #fff;
  background-color: #C23751;
  border-radius: 13px;
}

.button:hover {
  color: #fff !important;
}

.productos a:hover {
  text-decoration: none;
}

.productos .producto {
  margin-bottom: 25px;
}

.productos .producto img {
  border-radius: 13px;
  margin-bottom: 12px;
}

.productos .producto h5 {
  font-size: 18px;
  color: #C23751;
  font-weight: bold;
}

.productos .producto h6 {
  font-size: 14px;
  color: #6C757C;
  margin-bottom: 8px;
}

.productos .producto p {
  color: #000;
}

.productos .producto span {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .productos .producto {
    margin: auto;
  }
  .productos .producto img {
    width: 80%;
  }
  .productos .producto h5 {
    font-size: 21px;
  }
  .productos .producto h6 {
    font-size: 18px;
  }
  .productos .producto p {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

/* FRONT END */
/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.contenedor {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.menu {
  background: #fff;
  padding-top: 30px;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.menu .contenedor-botones-menu {
  /* display: flex; */
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .contenedor-botones-menu .title-responive {
  color: #000;
  font-weight: bold;
  padding-top: 10px;
  font-size: 21px;
}

.menu button {
  font-size: 20px;
  color: #000;
  padding: 10px 20px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  background: none;
}

.menu .btn-menu-cerrar {
  display: none;
}

.menu .btn-menu-cerrar.activo {
  display: inline-block;
}

.menu .contenedor-enlaces-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .contenedor-enlaces-nav .enlaces input {
  background: #ededed;
  border-radius: 13px;
  border: none;
  padding: 4px 15px;
  margin-right: 10px;
  outline: none;
}

.menu .contenedor-enlaces-nav .enlaces a {
  color: #000;
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a i {
  font-size: 19px;
}

.menu .contenedor-enlaces-nav .enlaces a i:hover {
  color: #C23751;
}

.menu .contenedor-enlaces-nav .enlaces a span {
  display: none;
}

.menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .logo a {
  color: #000;
  font-weight: bold;
  font-size: 25px;
}

.menu .logo a:hover {
  text-decoration: none;
}

.menu .btn-departamentos {
  color: #000;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 1px solid transparent;
  font-size: 12px;
  cursor: default;
}

.menu .btn-departamentos i {
  margin-left: 20px;
  position: relative;
  bottom: 12px;
}

.menu .btn-departamentos p {
  margin-bottom: 0;
}

.menu .btn-departamentos span {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.menu.scrolled {
  padding: 5px 0;
  background: #fff;
  -webkit-box-shadow: 0px 6px 28px -18px #b0b0b0;
  box-shadow: 0px 6px 28px -18px #b0b0b0;
}

/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
  position: relative;
}

.grid {
  width: 100%;
  display: none;
  position: absolute;
  top: 5px;
  z-index: 1000;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
  display: -ms-grid;
  display: grid;
}

.grid::before {
  content: "";
  display: block;
  background: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #C23751;
  position: absolute;
  top: -5px;
  left: 290px;
}

.grid > div {
  background: #C23751;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */
.grid .btn-regresar {
  background: #fff;
  color: #C23751;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.grid .btn-regresar i {
  margin-right: 10px;
}

.grid .categorias {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: categorias;
  padding-top: 10px;
  min-height: 300px;
  overflow: auto;
}

.grid .categorias .subtitulo {
  display: none;
}

.grid .categorias a {
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.grid .categorias a i {
  display: none;
}

.grid .categorias a:hover {
  font-weight: bold;
  text-decoration: none;
}

.grid .categorias a:hover i {
  display: inline-block;
  text-decoration: none;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */
.grid .contenedor-subcategorias {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: subcategorias;
}

.grid .subcategoria {
  display: none;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 100%;
}

.grid .subcategoria.activo {
  display: -ms-grid;
  display: grid;
}

.grid .subcategoria img {
  width: 100%;
  vertical-align: top;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .enlaces-subcategoria {
  padding-top: 10px;
  height: 100%;
  max-height: 300px;
  overflow: auto;
}

.grid .enlaces-subcategoria a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
  font-weight: bold;
  text-decoration: none;
}

.grid .subtitulo {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  padding: 8px 20px;
}

.grid .banner-subcategoria a {
  display: block;
  height: 100%;
}

.grid .galeria-subcategoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: start;
}

.grid .galeria-subcategoria a {
  width: 50%;
  height: 50%;
}

/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media screen and (max-width: 1000px) {
  .menu .contenedor-enlaces-nav {
    padding: 0 10px;
  }
  .menu .contenedor {
    width: 100%;
  }
}

@media screen and (max-width: 910px) {
  .menu {
    background: #fff;
    padding: 5px 0;
  }
  .menu .logo a {
    color: #000;
    margin-bottom: 15px;
  }
  .menu .btn-departamentos {
    color: #000;
  }
  .menu .contenedor-enlaces-nav .enlaces a {
    color: #000;
    font-size: 16px;
  }
  .menu.scrolled {
    background: #fff;
  }
  .menu .contenedor {
    width: 90%;
  }
  .menu .contenedor-botones-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu .contenedor-enlaces-nav {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    left: 0;
    background: #fff;
    height: 100vh;
    width: 80%;
    z-index: 2000;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-box-shadow: 0px 10px 28px -18px #b0b0b0;
    box-shadow: 0px 10px 28px -18px #b0b0b0;
  }
  .menu .contenedor-enlaces-nav.activo {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  .menu .btn-departamentos {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .menu .btn-departamentos i {
    position: static;
    margin-left: 20px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .menu .enlaces {
    width: 100%;
  }
  .menu .enlaces input {
    width: 100%;
    margin-top: 8px;
    margin-right: 0;
  }
  .menu .enlaces a {
    font-size: 20px !important;
    display: block;
    margin: 10px 0;
    padding: 10px;
  }
  .menu .enlaces a span {
    display: inline-block !important;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 3000;
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
        grid-template-areas: "categorias categorias categorias categorias";
  }
  .grid.activo {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .grid::before {
    display: none;
  }
  .grid .btn-regresar {
    display: inline-block;
  }
  .grid .categorias .subtitulo {
    display: block;
  }
  .grid .categorias a,
  .grid .enlaces-subcategoria a {
    font-size: 16px;
  }
  .grid .contenedor-subcategorias {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    overflow: auto;
  }
  .grid .contenedor-subcategorias.activo {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .grid .contenedor-subcategorias .subcategoria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid .contenedor-subcategorias .banner-subcategoria {
    width: 100%;
    min-height: 250px;
    max-height: 350px;
  }
  .grid .enlaces-subcategoria {
    min-height: 50vh;
    overflow: auto;
  }
  .grid .contenedor-subcategorias .galeria-subcategoria a {
    width: 25%;
    height: 100%;
  }
}

main.inicio {
  padding-top: 110px;
}

main.inicio .jumbotron {
  border-radius: 13px;
  border: 0;
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
}

main.inicio .jumbotron h1 {
  font-size: 40px;
  margin-left: 40px;
}

main.inicio .jumbotron p {
  width: 60%;
  margin-left: 40px;
  font-size: 18px;
}

main.inicio .categorias {
  padding-top: 20px;
}

main.inicio .categorias a {
  color: #C23751;
}

main.inicio .categorias h4 {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 30px;
}

main.inicio .categorias a:hover {
  text-decoration: none;
}

main.inicio .categorias .categoria {
  background-color: #ededed;
  border-radius: 13px;
}

main.inicio .categorias .categoria i {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #000;
}

main.inicio .categorias .categoria p {
  color: #6C757C;
  padding-bottom: 15px;
}

main.inicio .categorias .categoria:hover {
  background-color: #C23751;
}

main.inicio .categorias .categoria:hover i {
  color: #fff;
}

main.inicio .categorias .categoria:hover p {
  color: #fff;
}

main.inicio .favoritos {
  padding-top: 60px;
  padding-bottom: 10px;
}

main.inicio .favoritos h4 {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 30px;
}

main.inicio .razones {
  padding-top: 40px;
  padding-bottom: 40px;
}

main.inicio .razones h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

main.inicio .razones span {
  display: block;
  font-weight: bold;
}

main.inicio .razones a {
  padding: 13px 35px;
}

main.inicio .razones a:hover {
  color: #fff;
  text-decoration: none;
}

main.inicio .razones .razon {
  text-align: center;
}

main.inicio .razones .razon i {
  font-size: 30px;
  margin-bottom: 20px;
  color: #C23751;
}

main.inicio .razones .razon h5 {
  font-weight: bold;
}

main.inicio .razones .razon p {
  font-size: 14px;
  color: #6C757C;
}

main.inicio .mas-vendidos {
  padding-top: 60px;
}

main.inicio .mas-vendidos h4 {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 30px;
}

@media screen and (max-width: 910px) {
  main.inicio {
    padding-top: 65px;
  }
  main.inicio .jumbotron {
    text-align: center;
    margin-bottom: 0px;
  }
  main.inicio .jumbotron h1 {
    margin: auto;
  }
  main.inicio .jumbotron p {
    margin: auto;
    width: 100%;
  }
  main.inicio .categorias {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main.inicio .favoritos {
    padding-bottom: 10px;
  }
  main.inicio .favoritos h4 {
    text-align: center;
  }
  main.inicio .favoritos .favorito h5 {
    font-size: 21px;
  }
  main.inicio .favoritos .favorito h6 {
    font-size: 18px;
  }
  main.inicio .favoritos .favorito p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  main.inicio .favoritos .favorito span {
    font-size: 14px;
  }
  main.inicio .razones {
    text-align: center;
    padding-bottom: 60px;
  }
  main.inicio .razones span {
    display: inline;
  }
  main.inicio .razones .razon i {
    margin-top: 30px;
  }
  main.inicio .razones .razon p {
    font-size: 16px;
  }
  main.inicio .mas-vendidos h4 {
    text-align: center;
  }
  main.inicio .mas-vendidos a {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 375px) {
  main.inicio .jumbotron h1 {
    font-size: 30px !important;
  }
  main.inicio .razones h2 {
    font-size: 21px;
  }
}

footer h5 {
  font-size: 21px;
  color: #C23751;
  font-weight: bold;
  margin-top: 20px;
}

footer ul li a {
  color: #6C757C !important;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

footer i {
  font-size: 25px;
}

footer i:hover {
  color: #C23751;
}

footer .footer-copyright {
  background-color: #C23751 !important;
  color: #fff;
}

footer .footer-copyright a {
  color: #fff;
}

span.ir-arriba {
  display: none;
  padding: 12px 12px 7px 12px;
  background: #C23751;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 13px;
}

span.ir-arriba i {
  color: #fff;
  font-size: 21px;
}

main.categoria {
  padding-top: 110px;
}

main.categoria .jumbotron {
  border-radius: 13px;
  border: 0;
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  text-align: center;
}

main.categoria .jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
}

main.categoria .jumbotron p {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 910px) {
  main.categoria {
    padding-top: 65px;
  }
  main.categoria .jumbotron {
    text-align: center;
  }
  main.categoria .jumbotron h1 {
    margin: auto;
  }
  main.categoria .jumbotron p {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  main.categoria .jumbotron h1 {
    font-size: 30px !important;
  }
}

.filtros {
  padding: 40px 30px 0px 30px;
  background-color: #ededed;
  border-radius: 13px;
}

.filtros .filtro {
  margin-bottom: 46px;
}

.filtros .filtro h5 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.filtros .filtro ul li {
  font-size: 14px;
}

.filtros .filtro ul li a {
  color: #6C757C;
}

.filtros .filtro label {
  font-size: 14px;
  color: #6C757C;
}

.filtros .filtro.price p {
  margin-top: -8px;
  font-size: 14px;
  color: #6C757C;
}

@media screen and (max-width: 910px) {
  .filtros {
    display: none;
  }
}

main.producto {
  height: 100vh;
}

main.producto a.volver {
  color: #C23751;
  font-size: 14px;
}

main.producto .carousel {
  margin-bottom: 10px;
}

main.producto .carousel img {
  border-radius: 13px;
}

main.producto figure img {
  border-radius: 13px;
}

main.producto h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

main.producto span {
  font-size: 30px;
  font-weight: bold;
  color: #C23751;
}

main.producto small {
  font-size: 16px;
  color: #6C757C;
}

main.producto .caracteristicas {
  margin-top: 20px;
  font-size: 18px;
}

main.producto .caracteristicas p.extracto {
  margin-bottom: 30px;
  color: #6C757C;
}

main.producto .caracteristicas p {
  margin-bottom: 5px;
  color: #6C757C;
}

main.producto .caracteristicas p strong {
  color: #000;
}

main.producto .caracteristicas a {
  padding: 15px 15px;
  color: #fff;
}

main.producto .caracteristicas a:hover {
  text-decoration: none;
}

div.datos-prod {
  margin-bottom: 60px;
}

div.datos-prod h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

div.datos-prod .descripcion {
  margin-bottom: 120px;
}

div.datos-prod .descripcion h3 {
  font-weight: bold;
}

div.datos-prod .descripcion p {
  color: #6C757C;
  font-size: 16px;
}

div.datos-prod .descripcion img {
  border-radius: 13px;
}

@media screen and (max-width: 768px) {
  main.producto {
    height: auto;
    padding-top: 65px;
    margin-bottom: 60px;
  }
  div.datos-prod h2 {
    text-align: center;
  }
}

@media screen and (max-height: 650px) {
  main.producto {
    height: auto;
    padding-top: 110px;
  }
}

@media screen and (max-height: 650px) and (max-width: 768px) {
  main.producto {
    height: auto;
    padding-top: 65px;
  }
  div.datos-prod h2 {
    font-size: 30px;
  }
}

main.contacto {
  padding-top: 130px;
  padding-bottom: 60px;
}

main.contacto .titulo h1 {
  font-weight: bold;
}

main.contacto .titulo p {
  color: #6C757C;
  width: 60%;
}

main.contacto h3 {
  font-size: 25px;
  font-weight: bold;
}

main.contacto .info h5 {
  margin-top: 40px;
  font-weight: bold;
}

main.contacto .info .subtitle {
  font-size: 14px;
  color: #6C757C;
}

main.contacto .info p {
  color: #6C757C;
  font-size: 16px;
  margin-bottom: 8px;
}

main.contacto .info a {
  color: #C23751;
}

main.contacto .info a:hover {
  text-decoration: none;
}

main.contacto .formulario .subtitle {
  font-size: 14px;
  color: #6C757C;
  margin-bottom: 30px;
}

main.contacto .formulario input {
  border-radius: 13px;
  border: none;
  background: #ededed;
}

main.contacto .formulario textarea {
  border-radius: 13px;
  border: none;
  background: #ededed;
}

main.contacto .formulario .legal {
  font-size: 10px;
  color: #6C757C;
  margin-top: 10px;
}

main.contacto .formulario .button {
  padding: 12px 15px;
}

main.contacto .maps {
  margin-top: 20px;
}

main.contacto .maps h3 {
  margin-bottom: 20px;
}

main.contacto .maps iframe {
  width: 100%;
  border-radius: 13px;
  height: 300px;
}

@media screen and (max-width: 910px) {
  main.contacto {
    padding-top: 65px;
  }
  main.contacto .titulo h1 {
    font-size: 30px;
  }
  main.contacto .titulo p {
    width: 100%;
  }
  main.contacto h3 {
    font-size: 25px;
  }
  main.contacto .info {
    margin: auto;
  }
  main.contacto .info h5 {
    margin-top: 20px;
  }
  main.contacto .formulario h3 {
    margin-top: 40px;
  }
}

main.nosotros {
  padding-top: 110px;
}

main.nosotros .jumbotron {
  border-radius: 13px;
  border: 0;
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  text-align: center;
}

main.nosotros .jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
}

main.nosotros .jumbotron p {
  width: 50%;
  margin: auto;
}

main.nosotros h2 {
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}

main.nosotros .empresa {
  margin-bottom: 40px;
}

main.nosotros .empresa hr {
  margin-bottom: 40px;
}

main.nosotros .empresa h5 {
  font-weight: bold;
  color: #C23751;
  margin-bottom: 2px;
}

main.nosotros .empresa p {
  color: #6C757C;
  font-size: 14px;
}

main.nosotros .historia {
  margin-bottom: 40px;
}

main.nosotros .historia h5 {
  font-weight: bold;
  color: #C23751;
}

main.nosotros .historia time {
  font-weight: bold;
  color: #000;
}

main.nosotros .historia p {
  color: #6C757C;
  font-size: 14px;
}

main.nosotros .historia img {
  border-radius: 13px;
}

main.nosotros .historia .timeline {
  position: relative;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}

main.nosotros .historia .timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1px;
  background-color: #C23751;
}

main.nosotros .historia .timeline-element {
  position: relative;
  width: 50%;
  padding: 1rem 0;
  padding-right: 2.5rem;
  text-align: right;
}

main.nosotros .historia .timeline-element::before {
  content: '';
  position: absolute;
  right: -8px;
  top: 1.35rem;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #C23751;
  background-color: #fff;
}

main.nosotros .historia .timeline-element:nth-child(even)::before {
  right: auto;
  left: -8px;
}

main.nosotros .historia .timeline-element:nth-child(even) {
  margin-left: 50%;
  padding-left: 2.5rem;
  padding-right: 0;
  text-align: left;
}

@media (max-width: 767.98px) {
  main.nosotros .historia .timeline::before {
    left: 8px;
  }
}

@media (max-width: 767.98px) {
  main.nosotros .historia .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  main.nosotros .historia .timeline-element::before {
    top: 1.25rem;
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  main.nosotros .historia .timeline-element:nth-child(even) {
    margin-left: 0rem;
  }
}

@media (max-width: 767.98px) {
  main.nosotros .historia .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  main.nosotros .historia .timeline-element:nth-child(even)::before {
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  main.nosotros .historia .timeline-element::before {
    top: 1.25rem;
  }
}

main.nosotros .equipo {
  margin-bottom: 40px;
  text-align: center;
}

main.nosotros .equipo hr {
  margin-bottom: 40px;
}

main.nosotros .equipo img {
  margin-bottom: 20px;
  border-radius: 13px;
}

main.nosotros .equipo h5 {
  color: #C23751;
  font-weight: bold;
}

main.nosotros .equipo small {
  color: #000;
  margin-bottom: 10px;
}

main.nosotros .equipo p {
  color: #6C757C;
  font-size: 16px;
}

main.nosotros .equipo i {
  color: #000;
}

main.nosotros .equipo i:hover {
  color: #C23751;
}

@media screen and (max-width: 910px) {
  main.nosotros {
    padding-top: 65px;
  }
  main.nosotros .jumbotron {
    text-align: center;
  }
  main.nosotros .jumbotron h1 {
    margin: auto;
  }
  main.nosotros .jumbotron p {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  main.nosotros .jumbotron h1 {
    font-size: 30px !important;
  }
}

main.ayuda, main.question {
  padding-top: 110px;
}

main.ayuda .jumbotron, main.question .jumbotron {
  border-radius: 13px;
  border: 0;
  background-color: #ededed;
}

main.ayuda .jumbotron h1, main.question .jumbotron h1 {
  font-weight: bold;
  font-size: 40px;
  margin-left: 40px;
}

main.ayuda .jumbotron p, main.question .jumbotron p {
  width: 60%;
  margin-left: 40px;
  font-size: 16px;
  color: #6C757C;
}

main.ayuda .jumbotron input, main.question .jumbotron input {
  border-top-left-radius: 13px !important;
  border-bottom-left-radius: 13px !important;
  border: none !important;
}

main.ayuda .container-ayuda, main.question .container-ayuda {
  max-width: 950px;
  margin: auto;
}

main.ayuda .container-ayuda hr, main.question .container-ayuda hr {
  margin: 60px 0;
}

main.ayuda .container-ayuda .preguntas-frecuentes h2, main.question .container-ayuda .preguntas-frecuentes h2 {
  font-weight: bold;
  font-size: 28px;
}

main.ayuda .container-ayuda .preguntas-frecuentes .preguntas a, main.question .container-ayuda .preguntas-frecuentes .preguntas a {
  color: #C23751;
  margin-bottom: 15px;
}

main.ayuda .container-ayuda .temas-ayuda h2, main.question .container-ayuda .temas-ayuda h2 {
  font-weight: bold;
  font-size: 28px;
}

main.ayuda .container-ayuda .temas-ayuda .agrupacion, main.question .container-ayuda .temas-ayuda .agrupacion {
  background-color: #ededed;
  border-radius: 13px;
}

main.ayuda .container-ayuda .temas-ayuda .agrupacion .menus .list-group-item, main.question .container-ayuda .temas-ayuda .agrupacion .menus .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-color: #ededed;
}

main.ayuda .container-ayuda .temas-ayuda .agrupacion .menus .active, main.question .container-ayuda .temas-ayuda .agrupacion .menus .active {
  background-color: #C23751 !important;
  border-color: #C23751 !important;
}

main.ayuda .container-ayuda .temas-ayuda .agrupacion .preguntas, main.question .container-ayuda .temas-ayuda .agrupacion .preguntas {
  padding: 20px 10px;
}

main.ayuda .container-ayuda .temas-ayuda .agrupacion .preguntas a, main.question .container-ayuda .temas-ayuda .agrupacion .preguntas a {
  color: #C23751;
}

main.ayuda .container-ayuda .atencion-cliente, main.question .container-ayuda .atencion-cliente {
  margin-top: 100px;
}

main.ayuda .container-ayuda .atencion-cliente .pedido h2, main.question .container-ayuda .atencion-cliente .pedido h2 {
  font-weight: bold;
  font-size: 40px;
}

main.ayuda .container-ayuda .atencion-cliente .pedido p, main.question .container-ayuda .atencion-cliente .pedido p {
  color: #6C757C;
  font-size: 14px;
}

main.ayuda .container-ayuda .atencion-cliente .pedido a, main.question .container-ayuda .atencion-cliente .pedido a {
  color: #C23751;
  font-size: 14px;
}

main.ayuda .container-ayuda .atencion-cliente .servicio, main.question .container-ayuda .atencion-cliente .servicio {
  background-color: #ededed;
  padding: 20px;
  border-radius: 13px;
}

main.ayuda .container-ayuda .atencion-cliente .servicio h5, main.question .container-ayuda .atencion-cliente .servicio h5 {
  color: #6C757C;
  margin-bottom: 0;
}

main.ayuda .container-ayuda .atencion-cliente .servicio h2, main.question .container-ayuda .atencion-cliente .servicio h2 {
  font-weight: bold;
  font-size: 40px;
}

main.ayuda .container-ayuda .atencion-cliente .servicio hr, main.question .container-ayuda .atencion-cliente .servicio hr {
  margin: 20px 0;
}

main.ayuda .container-ayuda .atencion-cliente .servicio span, main.question .container-ayuda .atencion-cliente .servicio span {
  color: #6C757C;
}

main.ayuda .container-ayuda .atencion-cliente .servicio .button, main.question .container-ayuda .atencion-cliente .servicio .button {
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 30px;
}

main.ayuda .pregunta .volver, main.question .pregunta .volver {
  color: #C23751;
  font-size: 14px;
}

main.ayuda .pregunta .titulo h1, main.question .pregunta .titulo h1 {
  font-weight: bold;
  font-size: 24px;
}

main.ayuda .pregunta .titulo p, main.question .pregunta .titulo p {
  font-size: 14px;
  color: #6C757C;
}

main.ayuda .pregunta .titulo p b, main.question .pregunta .titulo p b {
  color: #000;
}

main.ayuda .pregunta .cuerpo, main.question .pregunta .cuerpo {
  margin-top: 40px;
}

main.ayuda .pregunta .cuerpo p, main.question .pregunta .cuerpo p {
  color: #6C757C;
  font-size: 14px;
  margin-bottom: 40px;
}

@media screen and (max-width: 910px) {
  main.ayuda, main.question {
    padding-top: 65px;
  }
  main.ayuda .jumbotron, main.question .jumbotron {
    text-align: center;
    margin-bottom: 0px;
  }
  main.ayuda .jumbotron h1, main.question .jumbotron h1 {
    margin: auto;
  }
  main.ayuda .jumbotron p, main.question .jumbotron p {
    margin: auto;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  main.ayuda .jumbotron h1 {
    font-size: 30px !important;
  }
}

nav.compra {
  background: #C23751;
  padding: 10px 0;
  width: 100%;
}

nav.compra .contenedor-nav-compra .logo {
  padding-top: 6px;
}

nav.compra .contenedor-nav-compra .logo a {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

nav.compra .contenedor-nav-compra .logo a:hover {
  text-decoration: none;
}

nav.compra .contenedor-nav-compra .questions p {
  color: #fff;
  font-size: 14px;
  margin-top: 15px;
  text-align: right;
}

@media screen and (max-width: 1210px) {
  nav.compra .container {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  nav.compra .contenedor-nav-compra .logo {
    padding-top: 0;
    text-align: center;
  }
  nav.compra .contenedor-nav-compra .questions {
    display: none;
  }
}

main.carrito {
  padding-top: 150px;
}

main.carrito .carro {
  margin-bottom: 70px;
}

main.carrito .carro .articulos h1 {
  font-weight: bold;
  font-size: 40px;
}

main.carrito .carro .articulos h1 span {
  font-weight: lighter !important;
  font-size: 30px;
  color: #6C757C;
}

main.carrito .carro .articulos p {
  font-size: 16px;
  color: #6C757C;
}

main.carrito .carro .articulos .articulo .imagen img {
  border-radius: 13px;
}

main.carrito .carro .articulos .articulo .informacion h4 {
  font-weight: bold;
  font-size: 21px;
}

main.carrito .carro .articulos .articulo .informacion p {
  font-size: 14px;
  margin-bottom: 0;
}

main.carrito .carro .articulos .articulo .informacion p span {
  color: #000;
}

main.carrito .carro .articulos .articulo .informacion p b {
  color: #000;
  margin-left: 10px;
}

main.carrito .carro .articulos .articulo .informacion .acciones a {
  font-size: 14px;
  color: #C23751;
}

main.carrito .carro .articulos .articulo .cantidad {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 13px;
  width: 50px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
}

main.carrito .carro .articulos .articulo .cantidad select {
  padding: 5px 8px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

main.carrito .carro .articulos .articulo .cantidad:before {
  content: '';
  position: absolute;
  right: 5px;
  top: 14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
  z-index: 5;
  pointer-events: none;
}

main.carrito .carro .articulos .articulo .precio {
  text-align: right;
}

main.carrito .carro .articulos .articulo .precio h4 {
  font-weight: bold;
  font-size: 21px;
}

main.carrito .carro .articulos a {
  margin-top: 30px;
  color: #fff;
}

main.carrito .carro .pedido .datos {
  background-color: #ededed;
  border-radius: 13px;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

main.carrito .carro .pedido .datos a {
  color: #fff;
  width: 100%;
}

main.carrito .carro .pedido .datos h2 {
  font-weight: bold;
  font-size: 21px;
  margin-top: 10px;
  text-align: left !important;
}

main.carrito .carro .pedido .datos .resumen {
  text-align: left;
  background-color: #fff;
  border-radius: 13px;
  padding: 20px 10px;
}

main.carrito .carro .pedido .datos .resumen h5 {
  font-size: 18px;
}

main.carrito .carro .pedido .datos .resumen hr {
  margin: 8px 0;
}

main.carrito .carro .pedido .datos .resumen p {
  margin-bottom: 0;
}

main.carrito .carro .pedido .datos .resumen .total {
  font-size: 16px;
}

main.carrito .carro .pedido .descuento {
  background-color: #ededed;
  border-radius: 13px;
  padding: 20px 10px;
  margin-bottom: 20px;
}

main.carrito .carro .pedido .descuento h2 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0;
}

main.carrito .carro .pedido .descuento h2:hover {
  cursor: pointer;
}

main.carrito .carro .pedido .descuento .promocion .card {
  border-radius: 13px !important;
  border: 0;
}

main.carrito .carro .pedido .descuento .promocion .card input {
  border-radius: 13px;
  border: none;
  background: #ededed;
  padding: 10px;
  outline: none;
}

main.carrito .carro .pedido .descuento .promocion .card small {
  color: #6C757C;
  text-align: center;
}

main.carrito .carro .pedido .descuento .promocion .card a {
  margin-top: 10px;
}

main.carrito .carro .pedido .info h2 {
  font-weight: bold;
  font-size: 21px;
}

main.carrito .carro .pedido .info p {
  margin-bottom: 2px;
}

main.carrito .carro .pedido .info p a {
  color: #C23751;
  font-size: 14px;
}

main.carrito .recomendacion {
  margin-top: 60px;
}

main.carrito .recomendacion h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

main.carrito .recomendacion a:hover {
  text-decoration: none;
}

.cuerpo-modal h5 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 10px;
}

.cuerpo-modal p {
  font-size: 14px;
  color: #6C757C;
}

.cuerpo-modal img {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 910px) {
  main.carrito {
    padding-top: 65px;
  }
}

@media screen and (max-width: 991px) {
  main.carrito .carro .articulos .articulo {
    text-align: center;
    margin-bottom: 30px;
  }
  main.carrito .carro .articulos .articulo hr {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  main.carrito .carro .articulos .articulo .imagen img {
    width: 80%;
    margin-bottom: 20px;
  }
  main.carrito .carro .articulos .articulo .acciones {
    margin-bottom: 20px;
  }
  main.carrito .carro .articulos .articulo .precio {
    margin-top: 20px;
    text-align: center;
  }
  main.carrito .carro .articulos a {
    width: 100%;
  }
  main.carrito .recomendacion h2 {
    text-align: center;
    font-size: 30px;
  }
}

main.envios, main.pagos {
  padding-top: 10px;
}

main.envios .breadcrumb, main.pagos .breadcrumb {
  background: #fff;
  padding-left: 0;
  padding-bottom: 0;
}

main.envios .breadcrumb li, main.pagos .breadcrumb li {
  color: #6C757C;
}

main.envios .breadcrumb li a, main.pagos .breadcrumb li a {
  color: #C23751;
  text-decoration: none;
}

main.envios .breadcrumb li a span, main.pagos .breadcrumb li a span {
  background: #C23751;
}

main.envios .breadcrumb li span, main.pagos .breadcrumb li span {
  background: #6C757C;
  padding: 3px 7px;
  border-radius: 13px;
  color: #fff;
}

main.envios .envio, main.envios .pago, main.pagos .envio, main.pagos .pago {
  margin-bottom: 70px;
}

main.envios .envio .datos h1, main.envios .pago .datos h1, main.pagos .envio .datos h1, main.pagos .pago .datos h1 {
  font-weight: bold;
  font-size: 40px;
}

main.envios .envio .datos input, main.envios .pago .datos input, main.pagos .envio .datos input, main.pagos .pago .datos input {
  border-radius: 13px;
  border: none;
  background: #ededed;
}

main.envios .envio .datos form.form-pago, main.envios .pago .datos form.form-pago, main.pagos .envio .datos form.form-pago, main.pagos .pago .datos form.form-pago {
  margin-top: 40px;
}

main.envios .envio .datos form.form-pago label, main.envios .pago .datos form.form-pago label, main.pagos .envio .datos form.form-pago label, main.pagos .pago .datos form.form-pago label {
  font-weight: bold;
  font-size: 21px;
}

main.envios .envio .datos form.form-pago label span, main.envios .pago .datos form.form-pago label span, main.pagos .envio .datos form.form-pago label span, main.pagos .pago .datos form.form-pago label span {
  font-size: 14px;
}

main.envios .envio .datos form.form-pago p, main.envios .pago .datos form.form-pago p, main.pagos .envio .datos form.form-pago p, main.pagos .pago .datos form.form-pago p {
  font-size: 14px;
  color: #6C757C;
}

main.envios .envio .datos form.form-pago p a, main.envios .pago .datos form.form-pago p a, main.pagos .envio .datos form.form-pago p a, main.pagos .pago .datos form.form-pago p a {
  color: #C23751;
}

main.envios .envio .datos form.form-pago select, main.envios .pago .datos form.form-pago select, main.pagos .envio .datos form.form-pago select, main.pagos .pago .datos form.form-pago select {
  background: #ededed !important;
  border: 0;
  border-radius: 13px;
}

main.envios .envio .datos form.form-pago hr, main.envios .pago .datos form.form-pago hr, main.pagos .envio .datos form.form-pago hr, main.pagos .pago .datos form.form-pago hr {
  margin: 50px 0;
}

main.envios .envio .datos form.form-pago button, main.envios .pago .datos form.form-pago button, main.pagos .envio .datos form.form-pago button, main.pagos .pago .datos form.form-pago button {
  margin-top: 30px;
}

main.envios .envio .sesion .datos, main.envios .envio .sesion .inicio-sesion, main.envios .envio .sesion .envio, main.envios .pago .sesion .datos, main.envios .pago .sesion .inicio-sesion, main.envios .pago .sesion .envio, main.pagos .envio .sesion .datos, main.pagos .envio .sesion .inicio-sesion, main.pagos .envio .sesion .envio, main.pagos .pago .sesion .datos, main.pagos .pago .sesion .inicio-sesion, main.pagos .pago .sesion .envio {
  background-color: #ededed;
  border-radius: 13px;
  padding: 15px 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

main.envios .envio .sesion .datos h2, main.envios .envio .sesion .inicio-sesion h2, main.envios .envio .sesion .envio h2, main.envios .pago .sesion .datos h2, main.envios .pago .sesion .inicio-sesion h2, main.envios .pago .sesion .envio h2, main.pagos .envio .sesion .datos h2, main.pagos .envio .sesion .inicio-sesion h2, main.pagos .envio .sesion .envio h2, main.pagos .pago .sesion .datos h2, main.pagos .pago .sesion .inicio-sesion h2, main.pagos .pago .sesion .envio h2 {
  font-weight: bold;
  font-size: 21px;
  text-align: left !important;
}

main.envios .envio .sesion .datos a, main.envios .envio .sesion .inicio-sesion a, main.envios .envio .sesion .envio a, main.envios .pago .sesion .datos a, main.envios .pago .sesion .inicio-sesion a, main.envios .pago .sesion .envio a, main.pagos .envio .sesion .datos a, main.pagos .envio .sesion .inicio-sesion a, main.pagos .envio .sesion .envio a, main.pagos .pago .sesion .datos a, main.pagos .pago .sesion .inicio-sesion a, main.pagos .pago .sesion .envio a {
  color: #C23751;
}

main.envios .envio .sesion .datos .form-inicio, main.envios .envio .sesion .inicio-sesion .form-inicio, main.envios .envio .sesion .envio .form-inicio, main.envios .pago .sesion .datos .form-inicio, main.envios .pago .sesion .inicio-sesion .form-inicio, main.envios .pago .sesion .envio .form-inicio, main.pagos .envio .sesion .datos .form-inicio, main.pagos .envio .sesion .inicio-sesion .form-inicio, main.pagos .envio .sesion .envio .form-inicio, main.pagos .pago .sesion .datos .form-inicio, main.pagos .pago .sesion .inicio-sesion .form-inicio, main.pagos .pago .sesion .envio .form-inicio {
  text-align: left;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 10px;
  padding: 20px 10px;
}

main.envios .envio .sesion .datos .form-inicio input, main.envios .envio .sesion .inicio-sesion .form-inicio input, main.envios .envio .sesion .envio .form-inicio input, main.envios .pago .sesion .datos .form-inicio input, main.envios .pago .sesion .inicio-sesion .form-inicio input, main.envios .pago .sesion .envio .form-inicio input, main.pagos .envio .sesion .datos .form-inicio input, main.pagos .envio .sesion .inicio-sesion .form-inicio input, main.pagos .envio .sesion .envio .form-inicio input, main.pagos .pago .sesion .datos .form-inicio input, main.pagos .pago .sesion .inicio-sesion .form-inicio input, main.pagos .pago .sesion .envio .form-inicio input {
  border-radius: 13px;
  border: none;
  background: #ededed;
}

main.envios .envio .sesion .datos .resumen, main.envios .envio .sesion .inicio-sesion .resumen, main.envios .envio .sesion .envio .resumen, main.envios .pago .sesion .datos .resumen, main.envios .pago .sesion .inicio-sesion .resumen, main.envios .pago .sesion .envio .resumen, main.pagos .envio .sesion .datos .resumen, main.pagos .envio .sesion .inicio-sesion .resumen, main.pagos .envio .sesion .envio .resumen, main.pagos .pago .sesion .datos .resumen, main.pagos .pago .sesion .inicio-sesion .resumen, main.pagos .pago .sesion .envio .resumen {
  text-align: left;
  background-color: #fff;
  border-radius: 13px;
  padding: 20px 10px;
}

main.envios .envio .sesion .datos .resumen h5, main.envios .envio .sesion .inicio-sesion .resumen h5, main.envios .envio .sesion .envio .resumen h5, main.envios .pago .sesion .datos .resumen h5, main.envios .pago .sesion .inicio-sesion .resumen h5, main.envios .pago .sesion .envio .resumen h5, main.pagos .envio .sesion .datos .resumen h5, main.pagos .envio .sesion .inicio-sesion .resumen h5, main.pagos .envio .sesion .envio .resumen h5, main.pagos .pago .sesion .datos .resumen h5, main.pagos .pago .sesion .inicio-sesion .resumen h5, main.pagos .pago .sesion .envio .resumen h5 {
  font-size: 18px;
}

main.envios .envio .sesion .datos .resumen hr, main.envios .envio .sesion .inicio-sesion .resumen hr, main.envios .envio .sesion .envio .resumen hr, main.envios .pago .sesion .datos .resumen hr, main.envios .pago .sesion .inicio-sesion .resumen hr, main.envios .pago .sesion .envio .resumen hr, main.pagos .envio .sesion .datos .resumen hr, main.pagos .envio .sesion .inicio-sesion .resumen hr, main.pagos .envio .sesion .envio .resumen hr, main.pagos .pago .sesion .datos .resumen hr, main.pagos .pago .sesion .inicio-sesion .resumen hr, main.pagos .pago .sesion .envio .resumen hr {
  margin: 8px 0;
}

main.envios .envio .sesion .datos .resumen p, main.envios .envio .sesion .inicio-sesion .resumen p, main.envios .envio .sesion .envio .resumen p, main.envios .pago .sesion .datos .resumen p, main.envios .pago .sesion .inicio-sesion .resumen p, main.envios .pago .sesion .envio .resumen p, main.pagos .envio .sesion .datos .resumen p, main.pagos .envio .sesion .inicio-sesion .resumen p, main.pagos .envio .sesion .envio .resumen p, main.pagos .pago .sesion .datos .resumen p, main.pagos .pago .sesion .inicio-sesion .resumen p, main.pagos .pago .sesion .envio .resumen p {
  margin-bottom: 0;
}

main.envios .envio .sesion .datos .resumen .total, main.envios .envio .sesion .inicio-sesion .resumen .total, main.envios .envio .sesion .envio .resumen .total, main.envios .pago .sesion .datos .resumen .total, main.envios .pago .sesion .inicio-sesion .resumen .total, main.envios .pago .sesion .envio .resumen .total, main.pagos .envio .sesion .datos .resumen .total, main.pagos .envio .sesion .inicio-sesion .resumen .total, main.pagos .envio .sesion .envio .resumen .total, main.pagos .pago .sesion .datos .resumen .total, main.pagos .pago .sesion .inicio-sesion .resumen .total, main.pagos .pago .sesion .envio .resumen .total {
  font-size: 16px;
}

main.envios .envio .sesion .descuento, main.envios .pago .sesion .descuento, main.pagos .envio .sesion .descuento, main.pagos .pago .sesion .descuento {
  background-color: #ededed;
  border-radius: 13px;
  padding: 20px 10px;
  margin-bottom: 20px;
}

main.envios .envio .sesion .descuento h2, main.envios .pago .sesion .descuento h2, main.pagos .envio .sesion .descuento h2, main.pagos .pago .sesion .descuento h2 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0;
}

main.envios .envio .sesion .descuento h2:hover, main.envios .pago .sesion .descuento h2:hover, main.pagos .envio .sesion .descuento h2:hover, main.pagos .pago .sesion .descuento h2:hover {
  cursor: pointer;
}

main.envios .envio .sesion .descuento .promocion .card, main.envios .pago .sesion .descuento .promocion .card, main.pagos .envio .sesion .descuento .promocion .card, main.pagos .pago .sesion .descuento .promocion .card {
  border-radius: 13px !important;
  border: 0;
}

main.envios .envio .sesion .descuento .promocion .card input, main.envios .pago .sesion .descuento .promocion .card input, main.pagos .envio .sesion .descuento .promocion .card input, main.pagos .pago .sesion .descuento .promocion .card input {
  border-radius: 13px;
  border: none;
  background: #ededed;
  padding: 10px;
  outline: none;
}

main.envios .envio .sesion .descuento .promocion .card small, main.envios .pago .sesion .descuento .promocion .card small, main.pagos .envio .sesion .descuento .promocion .card small, main.pagos .pago .sesion .descuento .promocion .card small {
  color: #6C757C;
  text-align: center;
}

main.envios .envio .sesion .descuento .promocion .card a, main.envios .pago .sesion .descuento .promocion .card a, main.pagos .envio .sesion .descuento .promocion .card a, main.pagos .pago .sesion .descuento .promocion .card a {
  margin-top: 10px;
}

main.envios .envio .sesion .info h2, main.envios .pago .sesion .info h2, main.pagos .envio .sesion .info h2, main.pagos .pago .sesion .info h2 {
  font-weight: bold;
  font-size: 21px;
}

main.envios .envio .sesion .info p, main.envios .pago .sesion .info p, main.pagos .envio .sesion .info p, main.pagos .pago .sesion .info p {
  margin-bottom: 2px;
}

main.envios .envio .sesion .info p a, main.envios .pago .sesion .info p a, main.pagos .envio .sesion .info p a, main.pagos .pago .sesion .info p a {
  color: #C23751;
  font-size: 14px;
}

main.envios .recomendacion, main.pagos .recomendacion {
  margin-top: 60px;
}

main.envios .recomendacion h2, main.pagos .recomendacion h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

main.envios .recomendacion a:hover, main.pagos .recomendacion a:hover {
  text-decoration: none;
}

@media screen and (max-width: 468px) {
  main.envios .breadcrumb li, main.pagos .breadcrumb li {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  main.envios .breadcrumb li, main.pagos .breadcrumb li {
    font-size: 10px;
  }
}

main.realizado {
  padding-top: 110px;
}

main.realizado h1 {
  font-weight: bold;
  font-size: 40px;
}

main.realizado p {
  color: #6C757C;
  font-size: 14px;
}

main.realizado hr {
  margin: 50px 0;
}

main.realizado a {
  color: #C23751;
}

main.realizado h5 {
  font-weight: bold;
  margin-top: 40px;
}

main.realizado ul li {
  list-style: none;
}

main.realizado ul li::before {
  content: "\2022";
  color: #C23751;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

main.realizado .recomendacion h2 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 21px;
}

main.realizado .recomendacion h5 {
  margin-top: 0px !important;
}

main.realizado .recomendacion a:hover {
  text-decoration: none;
}

@media screen and (max-width: 910px) {
  main.realizado {
    padding-top: 65px;
  }
  main.realizado h1 {
    font-size: 30px;
  }
}

/* CLIENTE */
main.inicio-cliente {
  padding-top: 110px;
}

main.inicio-cliente h1, main.inicio-cliente h2 {
  font-weight: bold;
  font-size: 40px;
  margin-left: 25px;
  margin-bottom: 30px;
}

main.inicio-cliente form {
  width: 90%;
  margin: auto;
}

main.inicio-cliente form label {
  font-weight: bold;
  font-size: 21px;
}

main.inicio-cliente form input {
  border-radius: 13px;
  border: none;
  background: #ededed !important;
}

main.inicio-cliente form a {
  color: #C23751;
}

main.inicio-cliente .login .por-que {
  margin-top: 50px;
  margin-left: 25px;
}

main.inicio-cliente .login .por-que h4 {
  font-weight: bold;
}

main.inicio-cliente .login .por-que ul {
  width: 90%;
  margin: auto;
}

main.inicio-cliente .login .por-que ul li {
  color: #6C757C;
  margin-bottom: 10px;
  list-style: none;
  font-size: 14px;
}

main.inicio-cliente .login .por-que ul li::before {
  content: "\2022";
  color: #C23751;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

main.inicio-cliente .registro {
  border-left: solid 1px #E5E5E5;
}

@media screen and (max-width: 910px) {
  main.inicio-cliente {
    padding-top: 60px;
  }
  main.inicio-cliente h2 {
    margin-left: 0;
  }
  main.inicio-cliente form {
    width: 100%;
  }
  main.inicio-cliente .login .por-que {
    margin-left: 0;
  }
  main.inicio-cliente .login .por-que ul {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main.inicio-cliente h2 {
    margin-top: 40px;
  }
  main.inicio-cliente .registro {
    border-left: 0;
  }
  main.inicio-cliente .registro h2 {
    margin-top: 70px;
  }
  main.inicio-cliente .login .por-que {
    display: none;
  }
}

main.cliente {
  padding-top: 110px;
}

main.cliente .principal {
  /*.pedidos {

        }*/
}

main.cliente .principal .nueva-cuenta {
  background-color: #ededed;
  border-radius: 13px;
  margin-bottom: 20px;
  padding: 20px 20px 8px 20px;
}

main.cliente .principal .nueva-cuenta h2 {
  font-weight: bold;
  font-size: 21px;
}

main.cliente .principal .nueva-cuenta p {
  font-size: 14px;
  color: #6C757C;
}

main.cliente .principal .usuario h2 {
  font-weight: bold;
  font-size: 21px;
}

main.cliente .principal .usuario p {
  font-size: 14px;
  margin-top: 5px;
}

main.cliente .principal .usuario p a {
  color: #C23751;
  font-size: 12px;
}

main.cliente .principal hr {
  margin: 30px 0;
}

main.cliente .principal .recomendacion h2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 21px;
}

main.cliente .principal .recomendacion a:hover {
  text-decoration: none;
}

main.cliente .secciones .cuenta {
  margin-top: 40px;
}

main.cliente .secciones .cuenta h2 {
  font-weight: bold;
  font-size: 18px;
}

main.cliente .secciones .cuenta p {
  margin-bottom: 12px;
}

main.cliente .secciones .cuenta p a {
  color: #C23751;
  font-size: 14px;
}

main.cliente .secciones hr {
  margin: 40px 0;
}

main.cliente .secciones .ayuda h2 {
  font-weight: bold;
  font-size: 18px;
}

main.cliente .secciones .ayuda p {
  margin-bottom: 2px;
}

main.cliente .secciones .ayuda p a {
  color: #C23751;
  font-size: 14px;
}

@media screen and (max-width: 910px) {
  main.cliente {
    padding-top: 90px;
  }
  .secciones .cuenta, .secciones .ayuda {
    text-align: center;
  }
}

/* ADMIN */
main.login-admin .container {
  max-width: 100vw;
}

main.login-admin .formulario {
  height: 100vh;
  padding: 20px 20px;
  position: relative;
}

main.login-admin .formulario a {
  color: #C23751;
  font-size: 14px;
  text-decoration: none;
}

main.login-admin .formulario h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #000;
}

main.login-admin .formulario h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #C23751;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

main.login-admin .formulario label {
  font-weight: bold;
  margin-bottom: 3px;
}

main.login-admin .formulario input {
  border-radius: 13px;
}

main.login-admin .formulario button {
  border-radius: 13px;
  color: #fff;
}

main.login-admin .formulario .registro {
  text-align: center;
  margin-top: 40px;
}

main.login-admin .formulario .registro h6 {
  font-weight: bold;
  margin-bottom: 0;
}

main.login-admin .formulario .registro a {
  font-size: 14px;
}

main.login-admin .formulario .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}

main.login-admin .formulario .copy-text i {
  color: #C23751;
}

main.login-admin .formulario .copy-text a {
  color: #C23751;
}

main.login-admin .imagen {
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  color: #fff;
}

main.login-admin .imagen .banner {
  width: 70%;
  position: absolute;
  bottom: 80px;
  padding-left: 40px;
}

main.login-admin .imagen .banner h2 {
  font-weight: bold;
}

main.login-admin .imagen .banner h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FFF;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .imagen {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */