// Colors
$dark:  #262626;
$light: #FFFFFF;
$bgGrey:#ECECEC;
$textGrey: #6C757C;
$brandColor: #f14d78;
$brandColorT: rgba(240, 75, 119,0.06);

// Text sizes
$sizeTitle1: 36px;
$sizeTitle2: 32px;
$sizeTitle3: 23px;
$sizeTitle4: 18px;
$sizeNormal: 16px;
$sizeResume: 14px;
$sizeResume2: 12px;
$sizeResume3: 11px;