<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700&display=swap">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Brand | David's Theme</title>
</head>
<body>
    <header class="brand-landscape d-flex align-items-center">
        <nav class="nav navbar navbar-expand-md fixed-top z-depth-0">
            <a class="navbar-brand" href="index.html">Navbar</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="iconify" data-icon="mdi-light:menu" data-inline="false"></span></button>
            
            <div class="collapse navbar-collapse links" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" data-scroll href="index.html#brands">Brands</a>
                    </li>
            
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="projects.html">Our Projects</a>
                    </li> -->
            
                    <li class="nav-item">
                        <a class="nav-link" data-scroll href="index.html#stories">Stories</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                </ul>
                <div class="nav-item contact">
                    <a class="nav-link" data-scroll href="index.html#contact">Contact</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <section class="container-landscape">
                <div class="row align-items-end">
                    <div class="col-md-8">
                        <img src="img/kitchen2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-4 mt-md-0 mt-4">
                        <h1>Lorem Ipsum.</h1>
                        <h2>Lorem ipsum dolor</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et explicabo nemo fugiat aspernatur! Iste, quidem ab nam consectetur deserunt unde officiis earum? Quidem odit beatae consectetur iste saepe et repellat voluptatum earum quis ab rerum pariatur, corrupti assumenda quia incidunt non quo fugit illo aliquid asperiores autem error temporibus?</p>
                    </div>
                </div>
            </section>
            
            <section class="brand-info-1">
                <div class="row">
                    <div class="col-lg-6 title">
                        <h2>Italian Inside</h2>
                        <h5>Lorem ipsum dolor sit amet consectetur</h5>
                    </div>
                    <div class="col-lg-6 image">
                        <img src="img/sqare4.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </section>
        </div>
    </header>

    <main class="brand">
        <section class="brand-info-2">
            <div class="container">
                <div class="col-lg-6 text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quis tempora animi provident facilis. Illum voluptatem impedit alias ducimus quam facilis, nemo qui fugit nihil architecto fuga quia, unde inventore repudiandae? Neque aut, voluptate maiores debitis commodi voluptatibus natus ratione est minima atque, cumque molestias reprehenderit! Aspernatur deleniti placeat minus dignissimos asperiores voluptatem, id nulla harum, neque natus eius dolorem amet nihil magnam! Reiciendis ab accusamus mollitia similique animi expedita.</p>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis soluta, tempora voluptatum sint debitis quisquam, labore inventore modi esse aperiam voluptatem aspernatur laborum, tempore aliquid natus mollitia. Dolor, deserunt?</p>
                </div>
            </div>
        </section>
        
        <section class="design">
            <div class="container">
                <div class="title">
                    <h2>Eternal Pulse of Passionate Design</h2>
                </div>
        
                <div class="row">
                    <div class="col-md-4">
                        <article class="story">
                            <img src="img/kitchen4.jpg" alt="story" class="img-fluid">
                            <div class="body-story">
                                <h5>Innovation</h5>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem sit neque adipisci architecto quasi eos, blanditiis molestias impedit quis quam id placeat! Sint ea sequi repellat molestiae ullam dolores assumenda.</p>
                            </div>
                        </article>
                    </div>
        
                    <div class="col-md-4">
                        <article class="story">
                            <img src="img/kitchen3.jpg" alt="story" class="img-fluid">
                            <div class="body-story">
                                <h5>Timelessness</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores odit fugiat dolores voluptatem nisi architecto quasi, in illum doloribus tempora, voluptates rem.</p>
                            </div>
                        </article>
                    </div>
        
                    <div class="col-md-4">
                        <article class="story">
                            <img src="img/kitchen2.jpg" alt="story" class="img-fluid">
                            <div class="body-story">
                                <h5>Well-being</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, cupiditate rerum dicta earum blanditiis obcaecati dignissimos vitae autem delectus voluptatibus consequatur repellat assumenda sunt.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="products">
            <div class="container">
                <div class="title">
                    <h2>Products</h2>
                </div>
            </div>
        
            <div class="scrolling-wrapper">
                <article class="product">
                    <a href="#">
                        <img src="img/sqare1.jpg" alt="" class="img-fluid">
                        <h6>Product 1</h6>
                    </a>
                </article>
            
                <article class="product">
                    <a href="#">
                        <img src="img/sqare2.jpg" alt="" class="img-fluid">
                        <h6>Product 2</h6>
                    </a>
                </article>
            
                <article class="product">
                    <a class="#">
                        <img src="img/sqare3.jpg" alt="" class="img-fluid">
                        <h6>Product 3</h6>
                    </a>
                </article>
            
                <article class="product">
                    <a href="#">
                        <img src="img/sqare4.jpg" alt="" class="img-fluid">
                        <h6>Product 4</h6>
                    </a>
                </article>
            
                <article class="product">
                    <a class="#">
                        <img src="img/sqare1.jpg" alt="" class="img-fluid">
                        <h6>Product 5</h6>
                    </a>
                </article>
            
                <article class="product">
                    <a href="#">
                        <img src="img/sqare3.jpg" alt="" class="img-fluid">
                        <h6>Product 6</h6>
                    </a>
                </article>
        
                <article class="product">
                    <a href="#">
                        <img src="img/sqare2.jpg" alt="" class="img-fluid">
                        <h6>Product 7</h6>
                    </a>
                </article>
        
                <article class="product">
                    <a href="#">
                        <img src="img/sqare4.jpg" alt="" class="img-fluid">
                        <h6>Product 8</h6>
                    </a>
                </article>
            </div>
        </section>
        
        <section class="website">
            <div class="container">
                <div class="text">
                    <h2>An experience you won't forguet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, dolorum. Sequi ad veniam quidem, corrupti ullam corporis est aperiam perferendis iure tenetur quasi quos molestiae dolorem architecto? Voluptate fugiat enim assumenda eos ipsum sint aut consequuntur inventore, dolor vitae fugit? Rem assumenda eligendi non quam qui minus cumque unde! Ipsum!</p>
                </div>
                <div class="link">
                    <a href="http://aprisoft.es" target="blank_"><span>Visit</span> Brand website</a>
                </div>
            </div>
        </section>
        
        <section class="other">
            <div class="container">
                <div class="title">
                    <h2>Similar Products by Other Brands</h2>
                </div>
        
                <div class="row">
                    <div class="col-md-3">
                        <article>
                            <div class="view">
                                <img src="img/kitchen4.jpg" class="img-fluid" alt="placeholder">
                                <div class="mask waves-effect waves-light rgba-black-light">
                                    <p>Product brand 1</p>
                                </div>
                            </div>
                        </article>
                    </div>
        
                    <div class="col-md-3">
                        <article>
                            <div class="view">
                                <img src="img/salon4.jpg" class="img-fluid" alt="placeholder">
                                <div class="mask waves-effect waves-light rgba-black-light">
                                    <p>Product brand 2</p>
                                </div>
                            </div>
                        </article>
                    </div>
        
                    <div class="col-md-3">
                        <article>
                            <div class="view">
                                <img src="img/kitchen2.jpg" class="img-fluid" alt="placeholder">
                                <div class="mask waves-effect waves-light rgba-black-light">
                                    <p>Product brand 3</p>
                                </div>
                            </div>
                        </article>
                    </div>
        
                    <div class="col-md-3">
                        <article>
                            <div class="view">
                                <img src="img/house2.jpg" class="img-fluid" alt="placeholder">
                                <div class="mask waves-effect waves-light rgba-black-light">
                                    <p>Product brand 4</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-5 links">
                    <ul>
                        <div class="row">
                            <li class="col-6">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            
                            <li class="col-6">
                                <a class="nav-link" data-scroll href="index.html#brands">Brands</a>
                            </li>
                            
                            <li class="col-6">
                                <a class="nav-link" href="projects.html">Projects</a>
                            </li>
                            
                            <li class="col-6">
                                <a class="nav-link" data-scroll href="index.html#stories">Stories</a>
                            </li>
                            
                            <li class="col-6">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="offset-lg-5 offset-md-4"></div>

                <div class="col-lg-3 col-md-3 ml-auto newsletter">
                    <h5>Join Our Newsletter</h5>
                    <p>We will send you updates onn products and discounts.</p>

                    <form action="" method="post">
                        <div class="col-12">
                            <div class="row">
                                <input type="text" name="newsletter" class="col-9" placeholder="email@company.com">
                                <button type="submit" class="col-3">Go</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row footer d-flex align-items-center">
                <div class="col-md-6 order-md-1 order-2">
                    <a href="#">Privacy Policy</a> |
                    <a href="#">Terms & Conditions</a> |
                    <a href="#">Download Catalog</a>
                </div>
                <div class="col-md-6 order-md-2 order-1 title">
                    <a href="index.html"><h2>Navbar</h2></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script type="text/javascript" src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript" src="js/smooth-scroll.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>