<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700&display=swap">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>David's Theme</title>
</head>
<body class="body">
    <header class="landscape d-flex align-items-center">
        <nav class="nav navbar navbar-expand-md fixed-top z-depth-0">
            <a class="navbar-brand" href="index.html">Navbar</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="iconify" data-icon="mdi-light:menu" data-inline="false"></span></button>
            
            <div class="collapse navbar-collapse links" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" data-scroll href="index.html#brands">Brands</a>
                    </li>
            
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="projects.html">Our Projects</a>
                    </li> -->
            
                    <li class="nav-item">
                        <a class="nav-link" data-scroll href="index.html#stories">Stories</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                </ul>
                <div class="nav-item contact">
                    <a class="nav-link" data-scroll href="index.html#contact">Contact</a>
                </div>
            </div>
        </nav>

        <section class="container container-landscape">
            <div class="row align-items-end">
                <div class="col-md-8">
                    <img src="img/kitchen.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-4 mt-md-0 mt-4">
                    <h1>Lorem Ipsum.</h1>
                    <h2>Lorem ipsum dolor</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et explicabo nemo fugiat aspernatur! Iste, quidem ab nam consectetur deserunt unde officiis earum? Quidem odit beatae consectetur iste saepe et repellat voluptatum earum quis ab rerum pariatur, corrupti assumenda quia incidunt non quo fugit illo aliquid asperiores autem error temporibus?</p>
                </div>
                <div class="col-md-12 text-center">
                    <a data-scroll href="#info">
                        <span class="iconify" data-icon="mdi-light:arrow-down" data-inline="false"></span>
                    </a>
                </div>
            </div>
        </section>
    </header> 

    <main class="index">
        <section class="info" id="info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 text">
                        <img src="img/salon.jpg" alt="salon" class="img-fluid img1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptates repellat quam necessitatibus earum accusantium totam architecto laudantium, quaerat fuga aliquid similique et esse? Ducimus, fuga unde minus tempore doloremque exercitationem similique commodi quia distinctio voluptates eum saepe, non quisquam hic vero ipsam! Molestiae labore rerum quibusdam amet necessitatibus qui odio at molestias nisi tempora, veniam aut dolore beatae tempore.</p>
        
                        <a href="about.html">
                            <span class="iconify" data-icon="mdi-light:plus" data-inline="false"></span>
                            Learn more
                        </a>
                    </div>
                    <div class="col-lg-5">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <img src="img/salon2.jpg" alt="salon" class="img-fluid img2">
                    </div>
                </div>
            </div>
        </section>
        
        <section class="brands" id="brands">
            <div class="container">
                <div class="images">
                    <div class="title">
                        <h2>Our Brands</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <a href="brand.html">
                                <div class="view">
                                    <img src="img/sqare1.jpg" class="img-fluid" alt="brand">
                                    <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                        <h2>Brand 1</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-6">
                            <a href="brand.html">
                                <div class="view">
                                    <img src="img/sqare2.jpg" class="img-fluid" alt="brand">
                                    <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                        <h2>Brand 2</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-6">
                            <a href="brand.html">
                                <div class="view">
                                    <img src="img/sqare3.jpg" class="img-fluid" alt="brand">
                                    <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                        <h2>Brand 3</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-6">
                            <a href="brand.html">
                                <div class="view">
                                    <img src="img/sqare4.jpg" class="img-fluid" alt="brand">
                                    <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                        <h2>Brand 4</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
        
                <div class="text" id="projects">
                    <div class="row">
                        <div class="col-lg-7">
                            <h2>Own nothing <br> but the projects</h2>
                            <h3>Lorem ipsum do sit amet consectetur adipisicing.</h3>
                            <a href="projects.html">
                                <span class="iconify" data-icon="mdi-light:plus" data-inline="false"></span>
                                Read more
                            </a>
                        </div>
                        <div class="col-lg-5">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vel corporis nam, ducimus corrupti accusamus nobis eaque ab molestiae eveniet sint quae neque voluptatum. Ipsum dolore magni eaque natus, blanditiis aut magnam quam doloribus at dicta ipsa nam, quis, optio eveniet nostrum consectetur in tempore adipisci. Excepturi cumque quis saepe iure inventore possimus nam necessitatibus minus quasi cupiditate, dolorem fugiat!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="stories" id="stories">
            <div class="container">
                <div class="title">
                    <h2>Stories</h2>
                </div>
        
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <article class="story story1">
                            <a href="story.html">
                                <h6>honours</h6>
                                <img src="img/kitchen2.jpg" alt="story" class="img-fluid">
                                <div class="body-story">
                                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elits</h5>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut vero nisi optio eum similique officiis sequi eos vitae quis reiciendis</p>
                                </div>
                                <div class="link">
                                    <a href="story.html">
                                        <span class="iconify" data-icon="ic:baseline-remove" data-inline="false"></span>
                                        read
                                    </a>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <article class="story">
                            <a href="story.html">
                                <h6>openings</h6>
                                <img src="img/kitchen3.jpg" alt="story" class="img-fluid">
                                <div class="body-story">
                                    <h5>Lorem ipsum dolor sit amet consectetur</h5>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut vero nisi optio eum similique officiis sequi eos vitae quis reiciendis</p>
                                </div>
                                <div class="link">
                                    <a href="story.html">
                                        <span class="iconify" data-icon="ic:baseline-remove" data-inline="false"></span>
                                        read
                                    </a>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <article class="story">
                            <a href="story.html">
                                <h6>annoucements</h6>
                                <img src="img/salon2.jpg" alt="story" class="img-fluid">
                                <div class="body-story">
                                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut vero nisi optio eum similique officiis sequi eos vitae quis reiciendis</p>
                                </div>
                                <div class="link">
                                    <a href="story.html">
                                        <span class="iconify" data-icon="ic:baseline-remove" data-inline="false"></span>
                                        read
                                    </a>
                                </div>
                            </a>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <article class="story">
                            <a href="story.html">
                                <h6>editorial</h6>
                                <img src="img/people.jpg" alt="story" class="img-fluid">
                                <div class="body-story">
                                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h5>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut vero nisi optio eum similique officiis sequi eos vitae quis reiciendis</p>
                                </div>
                                <div class="link">
                                    <a href="story.html">
                                        <span class="iconify" data-icon="ic:baseline-remove" data-inline="false"></span>
                                        read
                                    </a>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="contact" id="contact">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="mapa col-lg-5 col-md-6 order-lg-1 order-md-1 order-2">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.0545228588967!2d-0.49155814919704444!3d38.34772007955944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd62365299bed70b%3A0x1fac6c6e638e7711!2sCalle%20Belando%2C%2003004%20Alicante%20(Alacant)%2C%20Alicante!5e0!3m2!1ses!2ses!4v1581506039235!5m2!1ses!2ses" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
        
                    <div class="formulario col-lg-7 col-md-6 order-lg-2 order-md-2 order-1">
                        <div class="title">
                            <h2>Contact Us</h2>
                        </div>
        
                        <form action="" class="md-form" method="post">
                            <div class="row" style="height: 70px">
                                <div class="col">
                                    <div class="md-form">
                                        <input type="text" name="first-name" id="first-name" class="form-control">
                                        <label for="first-name">First name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form">
                                        <input type="text" name="last-name" id="last-name" class="form-control">
                                        <label for="last-name">Last name</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="height: 70px">
                                <div class="col">
                                    <div class="md-form">
                                        <input type="text" name="number" id="number" class="form-control">
                                        <label for="number">Phone number</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form">
                                        <input type="email" name="email" id="email" class="form-control">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                            </div>
        
                            <div class="md-form">
                                <textarea name="message" id="form7" class="md-textarea form-control" rows="3"></textarea>
                                <label for="form7">Material textarea</label>
                            </div>
        
                            <div class="submit">
                                <button type="submit"><span class="iconify" data-icon="mdi-light:comment" data-inline="false"></span> Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-4 col-md-5 links">
                    <ul>
                        <div class="row">
                            <li class="col-6">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            
                            <li class="col-6">
                                <a class="nav-link" data-scroll href="index.html#brands">Brands</a>
                            </li>
                            
                            <li class="col-6">
                                <a class="nav-link" href="projects.html">Projects</a>
                            </li>
                            
                            <li class="col-6">
                                <a class="nav-link" data-scroll href="index.html#stories">Stories</a>
                            </li>
                            
                            <li class="col-6">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="offset-lg-5 offset-md-4"></div>

                <div class="col-lg-3 col-md-3 ml-auto newsletter">
                    <h5>Join Our Newsletter</h5>
                    <p>We will send you updates onn products and discounts.</p>

                    <form action="" method="post">
                        <div class="col-12">
                            <div class="row">
                                <input type="text" name="newsletter" class="col-9" placeholder="email@company.com">
                                <button type="submit" class="col-3">Go</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row footer d-flex align-items-center">
                <div class="col-md-6 order-md-1 order-2">
                    <a href="#">Privacy Policy</a> |
                    <a href="#">Terms & Conditions</a> |
                    <a href="#">Download Catalog</a>
                </div>
                <div class="col-md-6 order-md-2 order-1 title">
                    <a href="index.html"><h2>Navbar</h2></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script type="text/javascript" src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript" src="js/smooth-scroll.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script>
        // Cambio de background
        const body = document.querySelector('.body');

        function bgChanger() {

            if(this.scrollY > this.innerHeight / 1.5) {

                body.classList.add('bg-active');
                
            } else {

                body.classList.remove('bg-active');
                
            }
            
        }

        window.addEventListener('scroll', bgChanger);
    </script>
</body>
</html>