<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700&display=swap">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Story | David's Theme</title>
</head>
<body>
    <header class="landscape-story">
        <nav class="navbar navbar-expand-md fixed-top z-depth-0">
            <div class="collapse navbar-collapse link" id="navbarSupportedContent">
                <div class="nav-item">
                    <a class="nav-link" href="index.html#stories">
                        <span class="iconify" data-icon="mdi:arrow-left" data-inline="false"></span>
                        Return
                    </a>
                </div>
            </div>

            <a class="navbar-brand" href="index.html">Navbar</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="iconify" data-icon="mdi-light:menu" data-inline="false"></span>
            </button>
            
            <div class="collapse navbar-collapse link" id="navbarSupportedContent">
                <div class="nav-item ml-auto">
                    <a class="nav-link" href="index.html#contact">Contact</a>
                </div>
            </div>
        </nav>

        <section class="landscape-story-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 title">
                        <h1>Story Title</h1>
                        <h5>Lorem ipsum dolor sit amet consectetur</h5>
                    </div>
                    <div class="col-lg-6 image">
                        <img src="img/kitchen2.jpg" alt="story" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main class="story">
        <section class="landscape-story-2">
            <div class="container">
                <div class="col-lg-6 text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quis tempora animi provident facilis. Illum voluptatem impedit alias ducimus quam facilis, nemo qui fugit nihil architecto fuga quia, unde inventore repudiandae? Neque aut, voluptate maiores debitis commodi voluptatibus natus ratione est minima atque, cumque molestias reprehenderit! Aspernatur deleniti placeat minus dignissimos asperiores voluptatem, id nulla harum, neque natus eius dolorem amet nihil magnam! Reiciendis ab accusamus mollitia similique animi expedita.</p>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis soluta, tempora voluptatum sint debitis quisquam, labore inventore modi esse aperiam voluptatem aspernatur laborum, tempore aliquid natus mollitia. Dolor, deserunt?</p>
                </div>
            </div>
        </section>
        
        <section class="images">
            <div class="scrolling-wrapper">
                <article class="image">
                    <a href="#">
                        <img src="img/kitchen.jpg" alt="" class="img-fluid">
                    </a>
                </article>
            
                <article class="image">
                    <a href="#">
                        <img src="img/house2.jpg" alt="" class="img-fluid">
                    </a>
                </article>
            
                <article class="image">
                    <a class="#">
                        <img src="img/kitchen3.jpg" alt="" class="img-fluid">
                    </a>
                </article>
            
                <article class="image">
                    <a href="#">
                        <img src="img/kitchen4.jpg" alt="" class="img-fluid">
                    </a>
                </article>
            
                <article class="image">
                    <a class="#">
                        <img src="img/sqare1.jpg" alt="" class="img-fluid">
                    </a>
                </article>
            
                <article class="image">
                    <a href="#">
                        <img src="img/sqare3.jpg" alt="" class="img-fluid">
                    </a>
                </article>
        
                <article class="image">
                    <a href="#">
                        <img src="img/sqare2.jpg" alt="" class="img-fluid">
                    </a>
                </article>
        
                <article class="image">
                    <a href="#">
                        <img src="img/sqare4.jpg" alt="" class="img-fluid">
                    </a>
                </article>
            </div>
        </section>

        <section class="text">
            <div class="container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste expedita eveniet voluptatum repudiandae sapiente quam dignissimos corporis explicabo dolorem voluptate eos, maiores rerum fuga corrupti! Atque dignissimos porro veritatis facere mollitia blanditiis quas commodi, dicta, incidunt quos, cum unde voluptates quis sequi. Eligendi, explicabo odit numquam aspernatur dolore debitis iure nostrum nihil! Repudiandae provident quibusdam voluptas libero distinctio, tempora maiores! Nihil impedit consectetur dolorem quaerat, quas explicabo dicta eius voluptatibus vero fugiat nostrum molestias, cum qui illum totam labore.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa deserunt reiciendis quam fuga facilis natus error debitis assumenda eligendi aspernatur corporis asperiores, eveniet quos ex pariatur itaque. Aliquid earum necessitatibus iure nihil, itaque vel atque magni ut, ea esse neque ab nam, tempore quibusdam vero repudiandae? Vero sequi eum officia quis obcaecati repudiandae ad tempore possimus explicabo quasi qui beatae porro, reprehenderit a ipsum praesentium sit. Modi molestiae id, consectetur dolor quas ducimus dolorem quae voluptates. Voluptatem velit aspernatur nam neque ut atque earum distinctio corporis ducimus natus, accusamus, quidem voluptatibus totam id ad omnis saepe harum? A, culpa quidem commodi omnis maxime recusandae deserunt sit atque animi tempore consequatur officia quam nihil blanditiis harum eligendi! Explicabo placeat aliquam iste.</p>
            </div>
        </section>

        <section class="brand">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 image">
                        <a href="brand.html">
                            <div class="view">
                                <img src="img/sqare4.jpg" class="img-fluid" alt="brand">
                                <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                    <h2>Brand Page</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-6 social">
                        <a href="#"><span class="iconify" data-icon="uil:dribbble" data-inline="false"></span></a>
                        <a href="#"><span class="iconify" data-icon="uil:twitter-alt" data-inline="false"></span></a>
                        <a href="#"><span class="iconify" data-icon="uil:instagram" data-inline="false"></span></a>
                        <a href="#"><span class="iconify" data-icon="uil:facebook-f" data-inline="false"></span></a>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-5 links">
                        <ul>
                            <div class="row">
                                <li class="col-6">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                
                                <li class="col-6">
                                    <a class="nav-link" data-scroll href="index.html#brands">Brands</a>
                                </li>
                                
                                <li class="col-6">
                                    <a class="nav-link" href="projects.html">Projects</a>
                                </li>
                                
                                <li class="col-6">
                                    <a class="nav-link" data-scroll href="index.html#stories">Stories</a>
                                </li>
                                
                                <li class="col-6">
                                    <a class="nav-link" href="#">About Us</a>
                                </li>
                            </div>
                        </ul>
                    </div>
    
                    <div class="offset-lg-5 offset-md-4"></div>
    
                    <div class="col-lg-3 col-md-3 ml-auto newsletter">
                        <h5>Join Our Newsletter</h5>
                        <p>We will send you updates onn products and discounts.</p>
    
                        <form action="" method="post">
                            <div class="col-12">
                                <div class="row">
                                    <input type="text" name="newsletter" class="col-9" placeholder="email@company.com">
                                    <button type="submit" class="col-3">Go</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    
                <div class="row footer d-flex align-items-center">
                    <div class="col-md-6 order-md-1 order-2">
                        <a href="#">Privacy Policy</a> |
                        <a href="#">Terms & Conditions</a> |
                        <a href="#">Download Catalog</a>
                    </div>
                    <div class="col-md-6 order-md-2 order-1 title">
                        <a href="index.html"><h2>Navbar</h2></a>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <!-- scripts -->
    <script type="text/javascript" src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript" src="js/smooth-scroll.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>