@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import '../sass/core/variables';
@import '../sass/core/mixins';

// Estilos generales
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.container {
    max-width: 1250px !important;
}

// Componentes
@import '../sass/components/navbar';
@import '../sass/components/footer';

// Index
@import '../sass/index';
@import '../sass/posts';
@import '../sass/article';
@import '../sass/contact';  
@import '../sass/category';