header.navbar-black {
    section.start {
        @include espaciados();
    
        .images {
            margin-top: 20px;
            margin-bottom: 40px;
    
            img {
                @include img(450px);
            }
        }
    
        .text {
            h2 {
                @include titulo($sizeTitle3);
                margin-bottom: 13px;
            }
    
            h5 {
                font-size: $sizeResume;
                font-weight: normal;
                color: $dark;
                margin-bottom: 30px;
            }
            
            p {
                color: $textGrey;
            }
        }
    
        @media screen and (max-width: 991px) {
            padding-top: 80px !important;
             
            .images {
                margin-top: 0px;
    
                img {
                    height: 250px;
                }
    
                .img2 {
                    display: none;
                }
            }
        }
    }
}

main.about {
    section.part1 {
        @include espaciados();
        padding-top: 0;
    
        .image {
            img {
                @include img(500px);
            }
        }
        
        .text {
            padding-left: 60px;
    
            h2 {
                @include titulo($sizeTitle3);
                margin-bottom: 13px;
            }
    
            h5 {
                font-size: $sizeResume;
                font-weight: normal;
                color: $dark;
                margin-bottom: 30px;
            }
    
            p {
                color: $textGrey;
            }
        }
    
        @media screen and (max-width: 991px) {
            .image {
                margin-bottom: 40px;
    
                img {
                    height: 250px;
                }
            }
    
            .text {
                padding-left: 15px;
            }
        }
    }
    
    section.part2 {
        @include espaciados();
        padding-top: 0;
    
        .image {
            img {
                @include img(600px);
            }
        }
        
        .text {
            padding-left: 170px;
            padding-right: 170px;
    
            h2 {
                @include titulo($sizeTitle3);
                margin-bottom: 13px;
            }
    
            h5 {
                font-size: $sizeResume;
                font-weight: normal;
                color: $dark;
                margin-bottom: 30px;
            }
    
            p {
                color: $textGrey;
            }
        }
    
        @media screen and (max-width: 991px) {
            .image {
                margin-bottom: 40px;
    
                img {
                    height: 250px;
                }
            }
    
            .text {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    
    section.part3 {
        @include espaciados();
        padding-top: 0;
    
        h2 {
            @include titulo($sizeTitle3);
            margin-bottom: 13px;
        }
    
        h5 {
            font-size: $sizeResume;
            font-weight: normal;
            color: $dark;
            margin-bottom: 30px;
        }
    
        p {
            color: $textGrey;
        }
    }
}