header.brand-landscape {
    @include espaciados();
    background-color: $dark;

    section.container-landscape {
        margin: auto;
        padding-top: 20px;

        img {
            @include img(500px);
        }

        h1 {
            @include titulo($sizeTitle1, $grey);
        }
    
        h2 {
            @include titulo($sizeTitle5, $grey, $fontNormal);
        }
    
        p {
            margin-bottom: 0;
            font-size: $sizeResume;
            color: $grey;
        }

        @media screen and (max-width: 768px) {
            img {
                height: 250px !important;
            }
        }
    }

    section.brand-info-1 {
        padding-top: 150px;

        .title {
            padding-left: 75px;

            h2 {
                @include titulo($sizeTitle3, $grey);
            }
    
            h5 {
                @include titulo($sizeResume, $grey, $fontNormal);
                font-weight: normal !important;
            }
        }

        .image {
            img {
                position: absolute;
                @include img(650px);
                padding-right: 25px;
            }
        }

        @media screen and (max-width: 991px) {
            .title {
                text-align: center;
                padding-left: 0;

                h5 {
                    margin-bottom: 30px;
                }
            }

            .image {
                img {
                    text-align: left;
                    height: 300px !important;
                    position: relative;
                    padding-right: 0px;
                }
            }
        }
    }

    @media screen and (max-width: 991px) {
        padding-bottom: 50px;
    }
}

main.brand {
    section.brand-info-2 {
        @include espaciados();
    
        .text {
            padding: 60px;
            padding-top: 0;
    
            p {
                color: $textGrey;
            }
        }
    
        @media screen and (max-width: 991px) {
            padding-top: 40px;
    
            .text {
                padding: 0px;
            }
        }
    }
    
    section.design {
        @include espaciados();
        padding-top: 0;
    
        .title {
            border-bottom: .5px solid $dark;
            margin-bottom: 40px;
    
            h2 {
                @include titulo($sizeTitle3)
            }
        }
    
        article {
            img {
                @include img(220px);
                margin-bottom: 15px;
            }
    
            .body-story {
                padding: 10px;
    
                h5 {
                    @include titulo($sizeNormal, $dark, $fontNormal);
                    line-height: 1.6em;
                    margin-bottom: 20px;
                }
        
                p {
                    font-size: $sizeResume;
                    color: $textGrey;
                }
            }
        }
    
        @media screen and (max-width: 991px) {
            .title {
                text-align: center;
            }
    
            article {
                h5 {
                    font-size: $sizeTitle5;
                }
    
                p {
                    font-size: $sizeNormal;
                }
            }
        }
    
        @media screen and (max-width: 768px) {
            article {
                padding-top: 40px;
                padding-bottom: 40px;
    
                img {
                    height: 200px !important;
                }
    
                .body-story {
                    text-align: center;
    
                    h5 {
                        font-size: $sizeTitle4 !important;
                    }
        
                    p {
                        font-size: $sizeNormal;
                    }
                }
    
                .link {
                    text-align: center;
                    font-size: $sizeTitle5;
                }
            }
        }
    }
    
    section.products {
        padding-top: 100px;
        background: $bgGrey;
    
        .title {
            margin-bottom: 40px;
    
            h2 {
                @include titulo($sizeTitle3);
            }
        }
    
        .scrolling-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            max-width: 90%;
            margin-left: auto;
    
            article {
                display: inline-block;
                width: 250px;
                padding-right: 20px;
                margin-right: 10px;
    
                img {
                    @include img(220px);
                    margin-bottom: 15px;
                }
    
                h6 {
                    color: $grey;
                    font-weight: normal;
                }
            }
        }
    
        @media screen and (max-width: 991px) {
            .title {
                text-align: center;
            }
    
            .scrolling-wrapper {
                max-width: 96%;
            }
        }
    }
    
    section.website {
        padding-top: 100px; 
        padding-bottom: 170px;
        margin-top: -70px;
        background: $dark;
        color: $grey;
    
        .text {
            padding: 70px 170px;
    
            h2 {
                @include titulo($sizeTitle1, $grey);
                width: 43%;
                margin-bottom: 30px;
            }
            
            p {
                font-size: $sizeResume;
            }
        }
    
        .link {
            padding: 0 170px;
            
            a {
                color: $grey;
    
                span {
                    padding-bottom: 5px;
                    border-bottom: 1px solid $grey;
                }
            }
        }
    
        @media screen and (max-width: 1200px) {
            .text {
                padding: 70px 100px;
    
                h2 {
                    width: 45%;
                }
            }
    
            .link {
                padding: 0 100px;
            }
        }
    
        @media screen and (max-width: 991px) {
            .text {
                padding: 70px 40px;
    
                h2 {
                    width: 55%;
                }
    
                p {
                    font-size: $sizeNormal;
                }
            }
    
            .link {
                padding: 0 40px;
            }
        }
    
        @media screen and (max-width: 768px) {
            .text {
                padding: 70px 15px;
                text-align: center;
    
                h2 {
                    width: 100%;
                }
            }
    
            .link {
                padding: 0 15px;
                text-align: center;
    
                a {
                    font-size: $sizeTitle5;
                }
            }
        }
    }
    
    section.other {
        @include espaciados();
        background-color: $bgGrey;
    
        .title {
            margin-bottom: 40px;
    
            h2 {
                @include titulo($sizeTitle3);
            }
        }
    
        article {
            margin-bottom: 50px;
    
            img {
                @include img(220px);
            }
    
            p {
                color: $grey;
                position: absolute;
                margin: 0;
                bottom: 8px;
                right: 10px;
            }
        }
    
        @media screen and (max-width: 991px) {
            .title {
                text-align: center;
            }
        }
    }
}