header.landscape {
    height: 100vh;

    .container-landscape {
        max-width: 1200px;
        margin: auto;

        img {
            @include img(500px);
        }

        h1 {
            @include titulo($sizeTitle1, $grey);
        }
    
        h2 {
            @include titulo($sizeTitle5, $grey, $fontNormal);
        }
    
        p {
            margin-bottom: 0;
            font-size: $sizeResume;
            color: $grey;
        }
    
        .iconify {
            color: $grey;
            font-size: 60px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            margin-top: 5%;
        }
    }

    @media screen and (max-width: 991px) {
        height: auto;

        .container {
            margin: 100px auto 100px auto; 
        }
    }

    @media screen and (max-width: 768px) {
        img {
            height: 250px !important;
        }
    }

    @media screen and (max-width: 375px) {
        .container {
            margin: 30px auto 30px auto; 
        }
    }

    @media screen and (max-height: 650px) {
        height: auto;
        margin: 20px auto 200px auto; 
    }  
}

main.index {
    section.info {
        @include espaciados();
    
        .text {
            .img1 {
                @include img(350px);
            }
    
            p {
                margin-top: 120px;
                margin-bottom: 80px;
                color: $dark;
            }
    
            a {
                color: $black;
                font-size: $sizeTitle6;
        
                .iconify {
                    font-size: $sizeTitle4;
                    margin-bottom: 5px;
                }
            }
            a:hover {
                text-decoration: underline;
            }
        }
        
        h2 {
            @include titulo($sizeTitle3, $dark);
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
        .img2 {
            @include img(620px);
        }
    
        @media screen and (max-width: 991px) {
            .text {
                text-align: center;
    
                p {
                    margin-top: 20px;
                    margin-bottom: 40px;
                    text-align: left;
                }
            }
        }
    }
    
    section.brands {
        @include espaciados();
        background: $dark;
    
        .images {
            .title {
                h2 {
                    @include titulo($sizeTitle3, $grey);
                    margin-bottom: 50px;
                }
            }
    
            img {
                @include img(235px);
            }
    
            h2 {
                @include titulo($sizeTitle1, $light);
            }
        }
    
        .text {
            margin-top: 100px;
            color: $grey;
    
            h2 {
                @include titulo($sizeTitle3, $grey);
                margin-bottom: 30px;
            }
            
            h3 {
                font-size: $sizeResume;
                font-weight: normal;
                margin-bottom: 120px;
            }
    
            a {
                color: $grey;
                font-size: $sizeTitle6;
    
                .iconify {
                    font-size: $sizeTitle4;
                    margin-bottom: 5px;
                }
            }
            a:hover {
                text-decoration: underline;
            }
        }
    
        @media screen and (max-width: 991px) {
            img {
                height: 150px !important;
            }
    
            .text {
                text-align: center;
    
                h3 {
                    margin-bottom: 30px;
                }
    
                p {
                    margin-top: 30px;
                }
            }
        }
    
        @media screen and (max-width: 768px) {
            .images {
                margin-bottom: 20px;
    
                .title {
                    text-align: center;
                    margin-bottom: 100px;
                }
    
                .view {
                    margin-bottom: 25px;
                }
            }
    
            .text {
                margin-top: 0px;
            }
        }
    }
    
    section.stories {
        @include espaciados();
        background: $light;
    
        .title {
            h2 {
                @include titulo($sizeTitle3);
                margin-bottom: 50px;
                margin-left: 10px;
            }
        }
    
        .story {
            padding: 10px;
            cursor: pointer;
    
            h6 {
                @include titulo($sizeResume);
                text-decoration: underline;
                margin-bottom: 10px;
            }
    
            img {
                @include img(160px);
                margin-bottom: 15px;
            }
    
            .body-story {
                h5 {
                    @include titulo($sizeNormal, $dark, $fontNormal);
                    font-weight: normal !important;
                    line-height: 1.6em;
                    margin-bottom: 20px;
                }
        
                p {
                    font-size: $sizeResume;
                    color: $textGrey;
                }
            }
    
            .link {
                text-align: right;
    
                a {
                    color: $dark;
    
                    .iconify {
                        margin-bottom: .5px;
                    }
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
        .story:hover {
            background: $bgGrey;
        }
    
        @media screen and (max-width: 991px) {
            .story1 {
                text-align: center;
    
                h6 {
                    text-align: left;
                }
    
                img {
                    height: 220px;
                }
    
                .link {
                    text-align: center;
                }
            }
        }
    
        @media screen and (max-width: 768px) {
            .title {
                text-align: center;
    
                h2 {
                    margin-left: 0;
                }
            }
            
            .story {
                padding-top: 40px;
                padding-bottom: 40px;
    
                img {
                    height: 200px !important;
                }
    
                .body-story {
                    text-align: center;
                }
    
                .link {
                    text-align: center;
                    font-size: $sizeTitle5;
                }
            }
        }
    }
    
    section.contact {
        @include espaciados();
        background: $bgGrey;
    
        .mapa {
            iframe {
                height: 600px;
                width: 100%;
            }
        }
    
        .formulario {
            .title {
                h2 {
                    @include titulo($sizeTitle4);
                    border-bottom: 0.5px solid $dark;
                    padding-bottom: 8px;
                }
            }
    
            form {
                margin-top: 40px;
                width: 80%;
    
                input, textarea {
                    border-bottom: .5px solid $dark !important;
                }
        
                .md-form input.form-control:focus:not([readonly]),
                .md-form textarea.md-textarea:focus:not([readonly]) {
                    -webkit-box-shadow: 0 0 0 0 $dark !important;
                    box-shadow: 0 0 0 0 $dark !important;
                    border-bottom: 1px solid $dark !important;
                }
        
                label {
                    color: $dark !important;
                }
    
                .submit {
                    button {
                        margin-top: 30px;
                        background: transparent;
                        border: 0;
                        font-size: $sizeTitle6;
            
                        .iconify {
                            font-size: $sizeTitle5;
                            margin-bottom: 4px;
                        }
                    }
                    button:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    
        @media screen and (max-width: 991px) {
            .formulario {
                form {
                    width: 100%;
                }
            }
        }
    
        @media screen and (max-width: 768px) {
            .mapa {
                iframe {
                    height: 300px;
                }
            }
    
            .formulario {
                .title {
                    text-align: center;
                }
                
                form {
                    .submit {
                        text-align: center;
    
                        button {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}