main.carrito {
    padding-top: 150px;

    .carro {
        margin-bottom: 70px;
        
        .articulos {
            h1 {
                font-weight: bold;
                font-size: $sizeTitMax;

                span {
                    font-weight: lighter !important;
                    font-size: 30px;
                    color: $thirdColor;
                }
            }
            p {
                font-size: $sizeNormal;
                color: $thirdColor;
            }

            .articulo {
                .imagen {
                    img {
                        border-radius: $borderRadius;
                    }
                }

                .informacion {
                    h4 {
                        font-weight: bold;
                        font-size: $sizeTitle;
                    }
                    p {
                        font-size: $sizeResume;
                        margin-bottom: 0;
                        span {
                            color: $mainColor;
                        }
                        b {
                            color: $mainColor;
                            margin-left: 10px;
                        }
                    }

                    .acciones {
                        a {
                            font-size: $sizeResume;
                            color: $secondColor;
                        }
                    }
                }

                .cantidad {
                    position: relative;
                    border: 1px solid #ccc;
                    border-radius: $borderRadius;
                    width: 50px;
                    margin: auto;
                    overflow: hidden;
                    background-color: #fff;

                    select {
                        padding: 5px 8px;
                        border: none;
                        box-shadow: none;
                        background-color: transparent;
                        background-image: none;
                        appearance: none;
                        outline: none;
                    }
                }
                    
                .cantidad:before {
                    content: '';
                    position: absolute;
                    right: 5px;
                    top: 14px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 5px 0 5px;
                    border-color: #000000 transparent transparent transparent;
                    z-index: 5;
                    pointer-events: none;
                }

                .precio {
                    text-align: right;

                    h4 {
                        font-weight: bold;
                        font-size: $sizeTitle;
                    }
                }
            }

            a {
                margin-top: 30px;
                color: $mainColor2;
            }
        }
    
        .pedido {
            .datos {
                background-color: $bgColor;
                border-radius: $borderRadius;
                text-align: center;
                padding: 20px 10px;
                margin-bottom: 20px;
                font-size: $sizeResume;

                a {
                    color: $mainColor2;
                    width: 100%;
                }

                h2 {
                    font-weight: bold;
                    font-size: $sizeTitle;
                    margin-top: 10px;
                    text-align: left !important;
                }

                .resumen {
                    text-align: left;
                    background-color: #fff;
                    border-radius: $borderRadius;
                    padding: 20px 10px;

                    h5 {
                        font-size: $sizeTitProd;
                    }
                    hr {
                        margin: 8px 0;
                    }
                    p {
                        margin-bottom: 0;
                    }

                    .total {
                        font-size: $sizeNormal;
                    }
                }
            }

            .descuento {
                background-color: $bgColor;
                border-radius: $borderRadius;
                
                padding: 20px 10px;
                margin-bottom: 20px;

                h2 {
                    font-size: $sizeTitle;
                    font-weight: bold;
                    margin-bottom: 0;
                }
                h2:hover {
                    cursor: pointer;
                }

                .promocion {
                    .card {
                        border-radius: $borderRadius !important;
                        border: 0;

                        input {
                            border-radius: $borderRadius;
                            border: none;
                            background: $bgColor;
                            padding: 10px;
                            outline: none;
                        }

                        small {
                            color: $thirdColor;
                            text-align: center;
                        }

                        a {
                            margin-top: 10px;
                        }
                    }
                }
            }

            .info {
                h2 {
                    font-weight: bold;
                    font-size: $sizeTitle;
                }
                p {
                    margin-bottom: 2px;
                    a {
                        color: $secondColor;
                        font-size: $sizeResume;
                    }
                }
                
            }
        }
    }
    
    .recomendacion {
        margin-top: 60px;

        h2 {
            font-weight: bold;
            margin-bottom: 20px;
            
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.cuerpo-modal {
    h5 {
        font-weight: bold;
        font-size: $sizeResume;
        margin-bottom: 0;
        margin-top: 10px;
    }
    p {
        font-size: $sizeResume;
        color: $thirdColor;
    }
    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 910px) {
    main.carrito {
        padding-top: 65px;
    }
}

@media screen and (max-width: 991px) {
    main.carrito {
        .carro {
            .articulos {
                .articulo {
                    text-align: center;
                    margin-bottom: 30px;

                    hr {
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }

                    .imagen {
                        img {
                            width: 80%;
                            margin-bottom: 20px;
                        }
                    }

                    .acciones {
                        margin-bottom: 20px;
                    }

                    .precio {
                        margin-top: 20px;
                        text-align: center;
                    }
                }

                a {
                    width: 100%;
                }
            }
        }

        .recomendacion {
            h2 {
                text-align: center;
                font-size: 30px;
            }
        }
    }
}