main.realizado {
    padding-top: 110px;

    h1 {
        font-weight: bold;
        font-size: $sizeTitMax;
    }
    p {
        color: $thirdColor;
        font-size: $sizeResume;
    }
    hr {
        margin: 50px 0;
    }
    a {
        color: $secondColor;
    }
    h5 {
        font-weight: bold;
        margin-top: 40px;
    }
    ul {
        li {
            list-style: none;
        }
    }
    ul li::before {
        content: "\2022";
        color: $secondColor;
        font-size: 18px;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }

    .recomendacion {
        h2 {
            font-weight: bold;
            margin-bottom: 15px;
            font-size: $sizeTitle;
        }
        h5 {
            margin-top: 0px !important;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 910px) {
    main.realizado {
        padding-top: 65px;

        h1 {
            font-size: 30px;
        }
    }
}